<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
  <a class="navbar-brand ml-lg-5" href="">ChippIn</a>
  <button class="navbar-toggler ml-5" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <div class="dropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false" *ngIf="authService.isLoggedIn()">
          <a class="btn btn-secondary dropdown-toggle" role="button">
            <i class="bi bi-person"></i> Profile
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" *ngIf="authService.isLoggedIn()" routerLink="/profile" >Settings</a></li>
            <li><a class="dropdown-item" *ngIf="authService.isLoggedIn()" routerLink="/" (click)="authService.logoutUser()">Logout</a></li>
          </ul>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav mr-5">
      <a class="nav-link" *ngIf="!authService.isLoggedIn()" routerLink="/login" routerLinkActive="active">Login</a>
    </ul>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" *ngIf="authService.isLoggedIn()" routerLink="/friends" routerLinkActive="active">Friends</a>
      </li>
    </ul>
  </div>
</nav>
