<p-confirmDialog></p-confirmDialog>
<!-- Modal for create group -->
<p-dialog header="Create new Group" [(visible)]="createNewGroupModalVisible"
          [modal]="true"
          [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
          [draggable]="false"
          [resizable]="false"
          [style]="{ width: '60rem'}"
>
  <form #form="ngForm" class="flex flex-col gap-4 pt-16" (ngSubmit)="onSubmitModal(form)" name = "formOfGroupCreation">
  <div class="flex flex-col gap-2 pl-6">
    <label for="inputGroupName" class="font-medium w-64">Group Name</label>
    <input
      pAutoFocus [autofocus]="true"
      [(ngModel)]="group.groupName"
      #groupName="ngModel"
      type="text" pInputText name="Barcelona Trip" id="inputGroupName" placeholder="Barcelona Trip" style="width: 500px;"
      required pattern="^[a-zA-Z0-9][a-zA-Z0-9 ]*$"
      maxlength="20"
    >
    <div *ngIf="groupName.touched && groupName.errors?.required" class="text-red-500 text-xs">
      Group name is required.
    </div>
    <div *ngIf="groupName.touched && groupName.errors?.pattern" class="text-red-500 text-xs">
      Group name must only contain letters, numbers, spaces and start with a letter or number.
    </div>
    <div *ngIf="groupName.touched && groupName.errors?.maxlength" class="text-red-500 text-xs">
      Group name must not have over 20 characters.
    </div>
    <br>
    <label for="inputMembers" class="font-medium w-64">Add up to 15 members</label>
    <p-autoComplete
      [(ngModel)]="currentlySelected"
      #inputSelection="ngModel"
      name="currentlySelected"
      [suggestions]="filteredFriends"
      (completeMethod)="filterMembers($event)"
      (onSelect)="addMember($event)"
      [dropdown]="true"
      [disabled]="membersEmails.length > 15"
      [forceSelection]="friends"
      emptyMessage="No friends found"
      id = "inputMembers"
    />
    <div *ngIf="membersEmails.length <= 1" class="text-red-500 text-xs">
      Please add at least one new member
    </div>


    <div>
      <div class="flex flex-col gap-2 ml-12 mr-20 min-w-20 max-w-xl min-h-64 max-h-64 overflow-auto">
        <div *ngFor="let member of getMembersEmail(); index as i" class="bg-white shadow-md rounded-lg p-4 mb-1">
          <div class="flex items-center justify-between">
            <div class="flex items-center">
              <div class="font-semibold">{{i+1}}:</div>
              <div class="ml-4">{{member}}</div>
            </div>



            <button *ngIf="member !== authService.getEmail()" type="button" class="btn-light ml-5" (click)="removeMember(i)"
                    [style.visibility]="member ? 'visible' : 'hidden'">
              <i class="pi pi-trash"></i>
            </button>
          </div>

        </div>
      </div>
    </div>
    <br>
    <br>
    <div style="display: flex; justify-content: flex-end; align-items: center; gap: 10px;">
      <p-button severity="secondary" (click)="goBack($event)">Cancel</p-button>
      <p-button severity="primary" [disabled]="(!form.valid || membersEmails.length <= 1 || group === undefined)" (click)="onSubmitModal(form)">Save</p-button>
    </div>
  </div>
  </form>
</p-dialog>

<div class="flex flex-col items-center p-4"> <!-- TODO: Make the link better -->
  <br>
  <p-button (onClick)="createNewGroupModalOpen()">Create new group</p-button>

  <!-- No groups yet message -->
  <div *ngIf="groups.length === 0 && this.responseReceived">
    <br>
    <br><br>
    <div class="w-full max-w-md p-4 bg-gray-100 rounded text-center">
      <p>ChippIn is more fun with friends! If you haven't created any groups yet, start by inviting your friends. When you have friends, create a group and enjoy ChippIn together.</p>
    </div>
  </div>


  <!-- Groups -->
    <div *ngIf="groups.length > 0" class="w-full max-w-md space-y-4">
      <br><br>
      <h3 class="font-bold mb-2">Groups</h3>
      <div *ngFor="let group of groups" class="flex items-center justify-between p-4 bg-gray-200 rounded mb-4 cursor-pointer" [routerLink]="['/group', group.id]">
        <div class="flex items-center space-x-4">
          <div>
            <div class="font-bold">{{ group.groupName }}</div>
            <span class="text-sm font-medium text-gray-500"> {{ group.membersCount }} Members</span>
          </div>
        </div>
        <div *ngIf="this.groupBalanceSummaries[group.id] > 0" class="text-green-500 font-bold">You are owed €{{ this.groupBalanceSummaries[group.id] | number:'1.2-2' }}</div>
        <div *ngIf="this.groupBalanceSummaries[group.id] < 0" class="text-red-500 font-bold">You owe €{{ -this.groupBalanceSummaries[group.id] | number:'1.2-2' }}</div>
        <div *ngIf="this.groupBalanceSummaries[group.id] === 0" class="bg-gray-300 rounded-full px-2 py-1 text-gray-700 font-bold">even</div>
      </div>
    </div>
</div>
