<p-toast/>
<p-confirmDialog [style]="{ width: '450px' }"/>
<p-dialog
  [(visible)]="itemDialog"
  [style]="{ width: '600px', minHeight: '550px' }"
  [header]="edit ? 'Edit Item' : 'Create new Item'"
  [modal]="true"
  styleClass="p-fluid">
  <ng-template pTemplate="header">
    <div *ngIf="edit">
      <p-tabMenu
        [model]="tabMenuItems"
        [activeItem]="tabMenuActiveItem"
        (activeItemChange)="onActiveItemChange($event)"
      ></p-tabMenu>
    </div>
    <div *ngIf="!edit">
      <span class="font-bold whitespace-nowrap">Create Item</span>
    </div>
  </ng-template>
  <ng-template pTemplate="content">
    <div *ngIf="isEditSelected() || !edit">
      <div class="field pt-5">
        <label for="name">Name</label>
        <input
          type="text"
          pInputText
          id="name"
          [(ngModel)]="createEditItem.description"
          minlength="2"
          maxlength="60"
          required
          autofocus/>
        <small class="p-error" *ngIf="submitted && !createEditItem.description">
          Name is required.
        </small>
      </div>
      <div class="field pt-5">
        <label for="unit">Unit</label>
        <p-dropdown
          [(ngModel)]="createEditItem.unit"
          id="unit"
          [options]="Object.values(DisplayedUnit)"
          (onChange)="getAmountForCreateEdit(createEditItem)">
        </p-dropdown>
      </div>
      <div class="field pt-5">
        <label for="amount">Amount</label>
        <p-inputNumber
          id="amount"
          [(ngModel)]="createEditItem.amount"
          [min]="0"
          [max]="createEditItem.unit === DisplayedUnit.Kilogram || createEditItem.unit === DisplayedUnit.Liter ? 1000 : 1000000"
          [minFractionDigits]="createEditItem.unit === DisplayedUnit.Kilogram || createEditItem.unit === DisplayedUnit.Liter ? 2 : 0"
          [suffix]="getSuffixForCreateEdit(createEditItem)"
          required/>
      </div>
      <div class="field pt-5">
        <label for="lowerLimit">Minimum</label>
        <p-inputNumber
          id="lowerLimit"
          [(ngModel)]="createEditItem.lowerLimit"
          [min]="0"
          [max]="createEditItem.unit === DisplayedUnit.Kilogram || createEditItem.unit === DisplayedUnit.Liter ? 1000 : 1000000"
          [minFractionDigits]="createEditItem.unit === DisplayedUnit.Kilogram || createEditItem.unit === DisplayedUnit.Liter ? 2 : 0"
          [suffix]="getSuffixForCreateEdit(createEditItem)"/>
      </div>
    </div>
    <div *ngIf="isMergeSelected()">
      <div class="field">
        <div class="grid grid-cols-3">
          <div class="field p-4">
            <label for="descriptionMergeItem">Name</label>
            <input
              pInputText
              id="descriptionMergeItem"
              [(ngModel)]="createEditItem.description"
              disabled="true"/>
          </div>
          <div class="field p-4">
            <label for="amountMergeItem">Amount</label>
            <p-inputNumber
              id="amountMergeItem"
              [(ngModel)]="createEditItem.amount"
              [suffix]="getSuffixForCreateEdit(createEditItem)"
              disabled="true"/>
          </div>
          <div class="field p-4">
            <label for="lowerLimitMergeItem">Minimum</label>
            <p-inputNumber
              id="lowerLimitMergeItem"
              [(ngModel)]="createEditItem.lowerLimit"
              [suffix]="getSuffixForCreateEdit(createEditItem)"
              disabled="true"/>
          </div>
        </div>
      </div>
      <div class="field">
        <div class="p-4">
          <label for="selectItemToMergeWith">Item to merge with</label>
          <p-dropdown
            id="selectItemToMergeWith"
            [(ngModel)]="itemMergeEdit"
            (onChange)="setItemToMerge(createEditItem)"
            [options]="mergeItemsSelectOptions(createEditItem)">
            <ng-template let-item pTemplate="item">
              {{item.description}} {{formatAmount(item)}}
            </ng-template>
            <ng-template let-item pTemplate="selectedItem">
              {{item.description}} {{formatAmount(item)}}
            </ng-template>
          </p-dropdown>
        </div>
      </div>
      <div class="field">
        <div class="p-4">
          <div *ngIf="itemMergeEdit">
            <div class="field pt-5">
              <label for="itemToMergeWithName">Name</label>
              <input
                type="text"
                pInputText
                id="itemToMergeWithName"
                [(ngModel)]="itemMergeEdit.description"
                [disabled]="itemMergeEdit.description === createEditItem.description"
                minlength="2"
                maxlength="60"
                required
                autofocus/>
              <small class="p-error" *ngIf="submitted && !itemMergeEdit.description">
                Name is required.
              </small>
            </div>
            <div class="field pt-5">
              <label for="itemToMergeWithUnit">Unit</label>
              <p-dropdown
                [(ngModel)]="itemMergeEdit.unit"
                [disabled]="itemMergeEdit.unit === createEditItem.unit"
                id="itemToMergeWithUnit"
                [options]="Object.values(DisplayedUnit)"
                (onChange)="getAmountForCreateEdit(itemMergeEdit)">
              </p-dropdown>
            </div>
            <div class="field pt-5">
              <label for="itemToMergeWithAmount">Amount</label>
              <p-inputNumber
                id="itemToMergeWithAmount"
                [(ngModel)]="itemMergeEdit.amount"
                [disabled]="itemMergeEdit.unit === createEditItem.unit"
                [min]="0"
                [max]="itemMergeEdit.unit === DisplayedUnit.Kilogram || itemMergeEdit.unit === DisplayedUnit.Liter ? 1000 : 1000000"
                [minFractionDigits]="itemMergeEdit.unit === DisplayedUnit.Kilogram || itemMergeEdit.unit === DisplayedUnit.Liter ? 2 : 0"
                [suffix]="getSuffixForCreateEdit(itemMergeEdit)"
                required/>
            </div>
            <div class="field pt-5">
              <label for="itemToMergeWithLowerLimit">Minimum</label>
              <p-inputNumber
                id="itemToMergeWithLowerLimit"
                [(ngModel)]="itemMergeEdit.lowerLimit"
                [min]="0"
                [max]="itemMergeEdit.unit === DisplayedUnit.Kilogram || itemMergeEdit.unit === DisplayedUnit.Liter ? 1000 : 1000000"
                [minFractionDigits]="itemMergeEdit.unit === DisplayedUnit.Kilogram || itemMergeEdit.unit === DisplayedUnit.Liter ? 2 : 0"
                [suffix]="getSuffixForCreateEdit(itemMergeEdit)"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <p-button
      pRipple
      label="Cancel"
      icon="pi pi-times"
      [text]="true"
      (click)="hideDialog()"/>
    <p-button
      pRipple
      label="Save"
      icon="pi pi-check"
      [text]="true"
      (click)="edit ? (isEditSelected() ? editItem() : mergeItems()) : saveNewItem()"/>
  </ng-template>
</p-dialog>
<div class="flex flex-col items-center p-4">
  <div class="container mx-auto px-12 py-4 bg-gray-100 rounded text-center">
    <div class="container mx-auto p-4">
      <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
          <p-button
            pRipple
            pTooltip="Create a new item"
            severity="success"
            label="New"
            icon="pi pi-plus"
            class="mr-2"
            (click)="openNew()"/>
          <p-button
            pRipple
            pTooltip="Delete selected items"
            severity="danger"
            label="Delete"
            icon="pi pi-trash"
            (click)="deleteSelectedItems()"
            [disabled]="!selectedItems || !selectedItems.length"/>
        </ng-template>
        <ng-template pTemplate="right">
          <p-button
            pRipple
            pTooltip="Find recipes with the selected items"
            severity="secondary"
            label="Find recipes"
            [disabled]="!selectedItems || !selectedItems.length"/>
        </ng-template>
      </p-toolbar>

      <p-table
        #dt
        [rows]="10"
        [value]="items"
        [paginator]="true"
        [globalFilterFields]="['description', 'amount', 'lowerLimit']"
        [(selection)]="selectedItems"
        [tableStyle]="{ 'min-width': '75rem' }"
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} items"
        [showCurrentPageReport]="true"
      >
        <ng-template pTemplate="caption">
          <div class="flex align-items-center justify-between">
            <h5 class="m-0">Items</h5>
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input
                  pInputText
                  type="text"
                  (input)="dt.filterGlobal($event.target.value, 'contains')"
                  placeholder="Search..."/>
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 4rem">
              <p-tableHeaderCheckbox/>
            </th>
            <th pSortableColumn="description" style="min-width:10rem">
              Name
              <p-sortIcon field="description"/>
            </th>
            <th pSortableColumn="amount" style="min-width:8rem">
              Amount
              <p-sortIcon field="amount"/>
            </th>
            <th pSortableColumn="lowerLimit" style="min-width:8rem">
              Minimum
              <p-sortIcon field="lowerLimit"/>
            </th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr>
            <td>
              <p-tableCheckbox [value]="item"/>
            </td>
            <td>
              {{ item.description }}
            </td>
            <td>
              <p-button
                [pTooltip]="'Remove ' + getStepSize(item) + getSuffix(item)"
                tooltipPosition="left"
                icon="pi pi-minus"
                severity="danger"
                [disabled]="item.amount === 0"
                (click)="decrement(item)"
              ></p-button>
              <p-inputNumber
                readonly="true"
                [placeholder]="getQuantity(item)"
                [min]="0"
                [max]="1000000"
                [buttonLayout]=""/>
              <p-button
                [pTooltip]="'Add ' + getStepSize(item) + getSuffix(item)"
                tooltipPosition="right"
                icon="pi pi-plus"
                severity="success"
                [disabled]="item.amount === 1000000"
                (click)="increment(item)"
              ></p-button>
            </td>
            <td>
              {{ formatLowerLimit(item) }}
            </td>
            <td>
              <p-button
                pRipple
                pTooltip="Edit item"
                icon="pi pi-pencil"
                class="mr-2"
                (click)="openEdit(item)"
                [rounded]="true"
                [outlined]="true"
                severity="success"/>
              <p-button
                pRipple
                pTooltip="Delete item"
                icon="pi pi-trash"
                severity="danger"
                (click)="deleteItem(item)"
                [rounded]="true"
                [outlined]="true"/>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>


<!--
<div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Error! </strong> {{ errorMessage }}
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="pt-5">
  <div class="row">
    <div class="col">
      <h2>Pantry</h2>
    </div>
  </div>
  <button class="btn btn-secondary mt-4"
          data-bs-toggle="modal"
          data-bs-target="#app-display-recipes-dialog-title"
          aria-label="Display recipes"
          (click)="getRecipes()">Find Recipes
  </button>
  <div class="row">
    <div class="mt-3">
      <input type="text" id="searchDescription" name="searchDescription"
             class="form-control col-9"
             placeholder="Search for an item"
             [(ngModel)]="searchString"
             (ngModelChange)="searchChanged()"
      >
      <form #form="ngForm" class="row pt-3" (ngSubmit)="onSubmit(form)">
        <div class="col-1">
          <button name="button" type="button" class="btn btn-warning m-2" (click)="markImportant()">
            <i *ngIf="newItem.lowerLimit === null" class="bi bi-star"></i>
            <i *ngIf="newItem.lowerLimit !== null" class="bi bi-star-fill"></i>
          </button>
        </div>
        <div class="col-1 align-content-center">
          <button name="submit" type="submit" class="btn btn-info m-2">
            <i class="bi bi-plus-lg"></i>
          </button>
        </div>
        <div class="col-2 align-content-center">
        </div>
        <div class="col-1">
          <input name="newItemAmount" type="number" class="form-control" id="newItemAmount" placeholder="0"
                 [(ngModel)]="newItem.amount" required min="0">
        </div>
        <div class="col-1">
          <input *ngIf="newItem.lowerLimit !== null" name="newItemAmount" type="number" class="form-control"
                 id="newItemLowerLimit" placeholder="0"
                 [(ngModel)]="newItem.lowerLimit" required min="0">
        </div>
        <div class="col-2">
          <select name="newItemUnit" class="form-select" [(ngModel)]="newItem.unit" required>
            <option *ngFor="let unit of DisplayedUnit | keyvalue"
                    [selected]="newItem.unit===unit.key">{{ unit.value }}</option>
          </select>
        </div>
        <div class="col">
          <input name="newItemDescription" class="form-control" placeholder="Add a new item"
                 [(ngModel)]="newItem.description" required minlength="2">
        </div>
      </form>
      <table class="table table-hover">
        <thead>
        <tr>
          <th class="col-1"></th>
          <th class="col-1"></th>
          <th class="col-2"></th>
          <th class="col-1">Amount</th>
          <th class="col-1">Min</th>
          <th class="col-2">Unit</th>
          <th>Item</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of items" class="center-td">
          <td>
            <button class="btn btn-danger" *ngIf="item.lowerLimit !== null && item.lowerLimit > item.amount"
                    (click)="selectItem(item); "
                    data-bs-toggle="modal"
                    data-bs-target="#app-shopping-list-add-dialog-title"
                    aria-label="Add to shopping list">
              <i class="bi bi-exclamation-triangle"></i>
            </button>
          </td>
          <td class="row">
            <div class="col align-content-center">
              <a class="btn responsive-danger-button m-1"
                 (click)="selectItem(item)"
                 data-bs-toggle="modal"
                 data-bs-target="#confirm-delete-dialog-title"
                 aria-label="Delete item">
                <i class="bi bi-trash"></i>
              </a>
              <a class="btn responsive-warning-button m-1"
                 (click)="selectItem(item); selectEditItem(clone(item))"
                 data-bs-toggle="modal"
                 data-bs-target="#edit-pantry-item-dialog-title"
                 aria-label="Edit item">
                <i class="bi bi-pencil"></i>
              </a>
            </div>
          </td>
          <td>
            <div class="col-8 align-content-center">
              <div class="row">
                <a class="btn btn-sm responsive-success-button col m-1"
                   [text]="getUnitStepString(getUnitStep(item, false, true), item)"
                   (click)="changeAmount(item, getUnitStep(item, false, true))"></a>
                <a class="btn btn-sm responsive-success-button col m-1"
                   [text]="getUnitStepString(getUnitStep(item, true, true), item)"
                   (click)="changeAmount(item, getUnitStep(item, true, true))"></a>
              </div>
              <div class="row">
                <a class="btn btn-sm responsive-danger-button col m-1"
                   [text]="getUnitStepString(getUnitStep(item, false, false), item)"
                   (click)="changeAmount(item, getUnitStep(item, false, false))"></a>
                <a class="btn btn-sm responsive-danger-button col m-1"
                   [text]="getUnitStepString(getUnitStep(item, true, false), item)"
                   (click)="changeAmount(item, getUnitStep(item, true, false))"></a>
              </div>
            </div>
          </td>
          <td>
            <input type="number" class="form-control" id="itemAmount"
                   [value]="displayQuantity(item.unit, item.amount)[1]"
                   disabled>
          </td>
          <td>
            <input *ngIf="item.lowerLimit !== null" type="number" class="form-control" id="lowerLimit"
                   [value]="displayQuantity(item.unit, item.lowerLimit)[1]" disabled>
            <input *ngIf="item.lowerLimit === null" type="text" class="form-control" id="lowerLimitDisabled"
                   [value]="'-'"
                   disabled>
          </td>
          <td>
            <select class="form-select" disabled>
              <option *ngFor="let unit of Unit | keyvalue"
                      [selected]="item.unit===unit.key">{{ displayQuantity(unit.value, item.amount)[0] }}</option>
            </select>
          </td>
          <td>
            {{item.description}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<app-confirm-delete-dialog [deleteWhat]="selectedItem?.description"
                           (confirm)="deleteItem(selectedItem.id)"></app-confirm-delete-dialog>
<app-edit-pantry-item-dialog [itemToEdit]="itemToEdit"
                             [items]="items"
                             [itemMergeDto]="mergeItem"
                             [itemToMerge]="clone(itemToEdit)"
                             [displayedUnit]="displayQuantity(itemToEdit?.unit, itemToEdit?.amount)[0]"
                             [displayedAmount]="displayQuantity(itemToEdit?.unit, itemToEdit?.amount)[1]"
                             (confirmEdit)="editItem(); searchChanged()"
                             (confirmMerge)="mergeItems(); searchChanged()"></app-edit-pantry-item-dialog>
<app-display-recipes-dialog [recipes]="recipes"></app-display-recipes-dialog>
<app-shopping-list-add-dialog [item]="selectedItem"></app-shopping-list-add-dialog>
-->
