<p-toast/>

<p-confirmDialog [style]="{ width: '450px' }"/>

<!--Create/Edit/Merge dialog-->
<p-dialog
  [(visible)]="itemDialog"
  [style]="{ width: '600px', minHeight: '550px' }"
  [modal]="true"
  styleClass="p-fluid">
  <ng-template pTemplate="header">
    <div *ngIf="edit">
      <p-tabMenu
        [model]="tabMenuItems"
        [activeItem]="tabMenuActiveItem"
        (activeItemChange)="onActiveItemChange($event)"
      ></p-tabMenu>
    </div>
    <div *ngIf="!edit">
      <span class="font-bold whitespace-nowrap">Create Item</span>
    </div>
  </ng-template>
  <ng-template pTemplate="content">
    <div *ngIf="isEditSelected() || !edit">
      <div class="field pt-5">
        <label for="name">Name</label>
        <input
          type="text"
          pInputText
          id="name"
          [(ngModel)]="createEditItem.description"
          minlength="2"
          maxlength="60"
          required
          autofocus/>
        <small class="p-error" *ngIf="submitted && !createEditItem.description">
          Name is required.
        </small>
        <small class="p-error" *ngIf="submitted && createEditItem.description.length < 2">
          Name requires at least 2 characters.
        </small>
      </div>
      <div class="field pt-5">
        <label for="unit">Unit</label>
        <p-dropdown
          [(ngModel)]="createEditItem.unit"
          id="unit"
          [options]="Object.values(DisplayedUnit)"
          (onChange)="getAmountForCreateEdit(createEditItem)">
        </p-dropdown>
      </div>
      <div class="field pt-5">
        <label for="amount">Amount</label>
        <p-inputNumber
          id="amount"
          [(ngModel)]="createEditItem.amount"
          [min]="0"
          [max]="createEditItem.unit === DisplayedUnit.Kilogram || createEditItem.unit === DisplayedUnit.Liter ? 1000 : 1000000"
          [minFractionDigits]="createEditItem.unit === DisplayedUnit.Kilogram || createEditItem.unit === DisplayedUnit.Liter ? 2 : 0"
          [suffix]="getSuffixForCreateEdit(createEditItem)"
          required/>
      </div>
      <div class="field pt-5">
        <label for="lowerLimit">Minimum</label>
        <p-inputNumber
          id="lowerLimit"
          [(ngModel)]="createEditItem.lowerLimit"
          [min]="0"
          [max]="createEditItem.unit === DisplayedUnit.Kilogram || createEditItem.unit === DisplayedUnit.Liter ? 1000 : 1000000"
          [minFractionDigits]="createEditItem.unit === DisplayedUnit.Kilogram || createEditItem.unit === DisplayedUnit.Liter ? 2 : 0"
          [suffix]="getSuffixForCreateEdit(createEditItem)"/>
      </div>
    </div>
    <div *ngIf="isMergeSelected()">
      <div class="field">
        <div class="grid grid-cols-3">
          <div class="field p-4">
            <label for="descriptionMergeItem">Name</label>
            <input
              pInputText
              id="descriptionMergeItem"
              [(ngModel)]="createEditItem.description"
              disabled="true"/>
          </div>
          <div class="field p-4">
            <label for="amountMergeItem">Amount</label>
            <p-inputNumber
              id="amountMergeItem"
              [(ngModel)]="createEditItem.amount"
              [suffix]="getSuffixForCreateEdit(createEditItem)"
              disabled="true"/>
          </div>
          <div class="field p-4">
            <label for="lowerLimitMergeItem">Minimum</label>
            <p-inputNumber
              id="lowerLimitMergeItem"
              [(ngModel)]="createEditItem.lowerLimit"
              [suffix]="getSuffixForCreateEdit(createEditItem)"
              disabled="true"/>
          </div>
        </div>
      </div>
      <div class="field">
        <div class="p-4">
          <label for="selectItemToMergeWith">Item to merge with</label>
          <p-dropdown
            id="selectItemToMergeWith"
            [(ngModel)]="itemMergeEdit"
            (onChange)="setItemToMerge(createEditItem)"
            [options]="mergeItemsSelectOptions(createEditItem)">
            <ng-template let-item pTemplate="item">
              {{item.description}} {{formatAmount(item)}}
            </ng-template>
            <ng-template let-item pTemplate="selectedItem">
              {{item.description}} {{formatAmount(item)}}
            </ng-template>
          </p-dropdown>
        </div>
      </div>
      <div class="field">
        <div class="p-4">
          <div *ngIf="itemMergeEdit.id">
            <div class="field pt-5">
              <label for="itemToMergeWithName">Name</label>
              <input
                type="text"
                pInputText
                id="itemToMergeWithName"
                [(ngModel)]="itemMergeEdit.description"
                [disabled]="itemMergeEditReset.description === createEditItem.description"
                minlength="2"
                maxlength="60"
                required
                autofocus/>
              <small class="p-error" *ngIf="submitted && !itemMergeEdit.description">
                Name is required.
              </small>
              <small class="p-error" *ngIf="submitted && itemMergeEdit.description.length < 2">
                Name requires at least 2 characters.
              </small>
            </div>
            <div class="field pt-5">
              <label for="itemToMergeWithUnit">Unit</label>
              <p-dropdown
                [(ngModel)]="itemMergeEdit.unit"
                [disabled]="itemMergeEditReset.unit === createEditItem.unit"
                id="itemToMergeWithUnit"
                [options]="Object.values(DisplayedUnit)"
                (onChange)="getAmountForCreateEdit(itemMergeEdit)">
              </p-dropdown>
            </div>
            <div class="field pt-5">
              <label for="itemToMergeWithAmount">Amount</label>
              <p-inputNumber
                id="itemToMergeWithAmount"
                [(ngModel)]="itemMergeEdit.amount"
                [disabled]="itemMergeEditReset.unit === createEditItem.unit"
                [min]="0"
                [max]="itemMergeEdit.unit === DisplayedUnit.Kilogram || itemMergeEdit.unit === DisplayedUnit.Liter ? 1000 : 1000000"
                [minFractionDigits]="itemMergeEdit.unit === DisplayedUnit.Kilogram || itemMergeEdit.unit === DisplayedUnit.Liter ? 2 : 0"
                [suffix]="getSuffixForCreateEdit(itemMergeEdit)"
                required/>
            </div>
            <div class="field pt-5">
              <label for="itemToMergeWithLowerLimit">Minimum</label>
              <p-inputNumber
                id="itemToMergeWithLowerLimit"
                [(ngModel)]="itemMergeEdit.lowerLimit"
                [min]="0"
                [max]="itemMergeEdit.unit === DisplayedUnit.Kilogram || itemMergeEdit.unit === DisplayedUnit.Liter ? 1000 : 1000000"
                [minFractionDigits]="itemMergeEdit.unit === DisplayedUnit.Kilogram || itemMergeEdit.unit === DisplayedUnit.Liter ? 2 : 0"
                [suffix]="getSuffixForCreateEdit(itemMergeEdit)"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <p-footer>
    <p-button
      *ngIf="edit"
      pRipple
      label="Reset"
      severity="secondary"
      icon="pi pi-replay"
      (click)="isEditSelected() ? resetEditItem() : resetMergeItem()"/>
    <p-button
      pRipple
      label="Cancel"
      severity="danger"
      icon="pi pi-times"
      (click)="hideDialog()"/>
    <p-button
      pRipple
      label="Save"
      severity="success"
      icon="pi pi-check"
      (click)="edit ? (isEditSelected() ? editItem() : mergeItems()) : saveNewItem()"/>
  </p-footer>
</p-dialog>

<!--Recipe dialog-->
<p-dialog
  [(visible)]="recipeDialog"
  [style]="{ width: '800px', minHeight: '550px' }"
  [modal]="true"
  styleClass="p-fluid">
  <ng-template pTemplate="header">
    <div>
      <span class="font-bold whitespace-nowrap">Recipes</span>
    </div>
  </ng-template>
  <ng-template pTemplate="content">
    <p-table [value]="recipes">
      <ng-template pTemplate="header">
        <tr>
          <th>Recipe</th>
          <th>Number of Ingredients</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-recipe>
        <tr>
          <td>
            <button type="button" [routerLink]="['/recipe/viewer/', recipe.id]">
              <p-tag styleClass="p-2 hover:shadow-md cursor-pointer" icon="pi pi-external-link"
                     severity="secondary" value="{{recipe.name}}">
              </p-tag>
            </button>
          </td>
          <td>
            {{recipe.itemsInPantry?.length}} / {{recipe.ingredients?.length}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </ng-template>
</p-dialog>

<div class="flex flex-col items-center p-4">
  <div class="container mx-auto px-12 py-4 bg-gray-100 rounded text-center">
    <div class="container mx-auto p-4">
      <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
          <p-button
            pRipple
            pTooltip="Create a new item"
            severity="success"
            label="New"
            icon="pi pi-plus"
            class="mr-2"
            (click)="openNew()"/>
          <p-button
            pRipple
            pTooltip="Delete selected items"
            severity="danger"
            label="Delete"
            icon="pi pi-trash"
            (click)="deleteSelectedItems()"
            [disabled]="!selectedItems || !selectedItems.length"/>
        </ng-template>
        <ng-template pTemplate="right">
          <p-button
            pRipple
            pTooltip="Find recipes with the selected items"
            severity="secondary"
            label="Find recipes"
            (click)="getRecipes(); openRecipeDialog()"
            [disabled]="!selectedItems || !selectedItems.length"/>
        </ng-template>
      </p-toolbar>

      <p-table
        #dt
        [rows]="10"
        [value]="items"
        [paginator]="true"
        [globalFilterFields]="['description', 'amount', 'lowerLimit']"
        [(selection)]="selectedItems"
        [tableStyle]="{ 'min-width': '75rem' }"
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} items"
        [showCurrentPageReport]="true"
      >
        <ng-template pTemplate="caption">
          <div class="flex align-items-center justify-between">
            <h5 class="m-0">Items</h5>
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input
                  pInputText
                  type="text"
                  (input)="dt.filterGlobal($event.target.value, 'contains')"
                  placeholder="Search..."/>
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 4rem">
              <p-tableHeaderCheckbox/>
            </th>
            <th pSortableColumn="description" style="min-width:10rem">
              Name
              <p-sortIcon field="description"/>
            </th>
            <th pSortableColumn="amount" style="min-width:8rem">
              Amount
              <p-sortIcon field="amount"/>
            </th>
            <th pSortableColumn="lowerLimit" style="min-width:8rem">
              Minimum
              <p-sortIcon field="lowerLimit"/>
            </th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr [ngClass]="getRowColor(belowMinimum(item))">
            <td>
              <p-tableCheckbox [value]="item"/>
            </td>
            <td>
              {{ item.description }}
            </td>
            <td>
              <p-button
                [pTooltip]="'Remove ' + getStepSize(item) + getSuffix(item)"
                tooltipPosition="left"
                icon="pi pi-minus"
                severity="danger"
                [disabled]="item.amount === 0"
                (click)="decrement(item)"
              ></p-button>
              <p-inputNumber
                readonly="true"
                [placeholder]="getQuantity(item)"
                [min]="0"
                [max]="1000000"
                [buttonLayout]=""/>
              <p-button
                [pTooltip]="'Add ' + getStepSize(item) + getSuffix(item)"
                tooltipPosition="right"
                icon="pi pi-plus"
                severity="success"
                [disabled]="item.amount === 1000000"
                (click)="increment(item)"
              ></p-button>
            </td>
            <td>
              <button type="button">
                <p-tag
                  [severity]="getTagSeverity(belowMinimum(item))"
                  (click)="getTagSeverity(belowMinimum(item))">
                  {{ formatLowerLimit(item) }}
                </p-tag>
              </button>
            </td>
            <td>
              <p-button
                pRipple
                pTooltip="Edit item"
                icon="pi pi-pencil"
                class="mr-2"
                (click)="openEdit(item)"
                [rounded]="true"
                [outlined]="true"
                severity="success"/>
              <p-button
                pRipple
                pTooltip="Delete item"
                icon="pi pi-trash"
                severity="danger"
                (click)="deleteItem(item)"
                [rounded]="true"
                [outlined]="true"/>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
