<div>
  <div *ngIf="incomingFriendRequests !== null && incomingFriendRequests.length > 0">
    <span>Incoming friend requests</span>
    <ul class="friend-list">
      <li *ngFor="let email of incomingFriendRequests">
        <span>{{ email }}</span>
        <button (click)="acceptFriendRequest(email)" type="button" class="btn btn-success btn-sm"
                style="margin-left: 10px;">
          <i class="bi bi-check"></i> Accept
        </button>
        <button (click)="rejectFriendRequest(email)" type="button" class="btn btn-danger btn-sm"
                style="margin-left: 5px;">
          <i class="bi bi-x"></i> Reject
        </button>
      </li>
    </ul>
  </div>

  <ul class="list-group" *ngIf="friends !== null && friends.length > 0">
    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let friend of friends" [routerLink]="['/friends', friend.email]" style="cursor: pointer;">
        <span>{{ friend.email }}</span>
        <span class="ms-3" [ngClass]="{'text-danger': friend.debt < 0, 'text-success': friend.debt > 0, 'badge bg-secondary rounded-pill': friend.debt === 0}">
            {{ friend.debt === 0 ? 'quitt' : friend.debt + '€' }}
        </span>
    </li>
  </ul>

  <ul class="friend-list"
      *ngIf="(incomingFriendRequests === null || incomingFriendRequests.length === 0) && (friends === null || friends.length === 0)">
    <li>
      You have no friends yet
    </li>
  </ul>

</div>
