<h1 class="text-6xl pl-6">{{heading}}</h1>
<p-toast></p-toast>
<p-confirmDialog />

<form #form="ngForm" class="flex flex-col gap-4 pt-16" (ngSubmit)="onSubmit(form)" name = "formOfGroupCreation">
  <div class="flex flex-col gap-2 pl-6">
    <label for="inputGroupName" class="font-medium w-64">Group Name</label>
    <input pAutoFocus [autofocus]="true"
           [(ngModel)]="group.groupName"
           type="text" pInputText name="Barcelona Trip" id="inputGroupName" placeholder="Barcelona Trip" style="width: 500px;"
           required pattern="^[a-zA-Z0-9](?=.*[a-zA-Z0-9])[a-zA-Z0-9 ]*$">

    <label for="inputMembers" class="font-medium w-64">Members</label>
    <p-autoComplete
      [(ngModel)]="currentlySelected"
      name="currentlySelected"
      [suggestions]="filteredFriends"
      (completeMethod)="filterMembers($event)"
      (onSelect)="addMember($event)"
      [dropdown]="true"
      [forceSelection]="friends"
      id = "inputMembers"
    />



    <div class="flex flex-col gap-2 ml-12 mr-20 min-w-20 max-w-xl min-h-64 max-h-64 overflow-auto">
      <div *ngFor="let member of getSortedMembersEmail(); index as i" class="bg-white shadow-md rounded-lg p-4 mb-1">
        <div class="flex items-center justify-between">
          <div class="flex items-center">
            <div class="font-semibold">{{i+1}}:</div>
            <div class="ml-4">{{member}}</div>
          </div>



          <button *ngIf="member !== authService.getEmail() && modeIsCreate" type="button" class="btn-light ml-5" (click)="removeMember(i)"
                  [style.visibility]="member ? 'visible' : 'hidden'">
            <i class="pi pi-trash"></i>
          </button>
        </div>

      </div>
    </div>
    <br>
    <br>
    <div class=" flex flex-row">
      <p-button severity="secondary" (click)="goBack($event)">Back to Group List</p-button>
      <span class="flex-grow"></span>

      <p-button severity="info" [disabled]="(!form.valid || membersEmails.length <= 1 || group === undefined) && mode !== GroupCreateEditMode.info" (click)="onSubmit(form)">Save</p-button>
      <div class="w-10"></div>
    </div>
  </div>
</form>
