<h1 class="display-1">{{heading}}</h1>
<form #form="ngForm" [class.was-validated]="form.submitted" (ngSubmit)="onSubmit(form)">
  <br>

  <div class="row">
    <!-- Start name -->
    <div class="mb-2 col-lg-6">
      <!-- When nesting rows, always make row > col-* > row. The Bootstrap classes do not work right when an element is both col* and row -->
      <div class="row">
        <label for="groupName" class="col-form-label text-md-end text-muted col-md-1 col-lg-0">
          Name
        </label>
        <div class="col-md-11 col-lg-10">
          <input type="text" id="groupName" name="groupName" placeholder="Group name" class="form-control"
            [class]="dynamicCssClassesForInput(groupNameModel)" [(ngModel)]="group.groupName"
            [disabled]="this.modeIsInfo" #groupNameModel="ngModel" required>
          <div class="invalid-feedback">
            <!-- This is shown, when the form validation deems the name input to be invalid -->
            Name is required
          </div>
        </div>
      </div>
    </div>

    <br>
    <br>
    <br>
    <div>
      <h2>Members</h2>
      <!-- Begin horse selection block -->
      <div class="row">
        <div class="col-lg-6 mb-2">
          <app-autocomplete name="tournamentParticipantSelection" textInputClass="form-control"
            [suggestions]="memberSuggestions" [formatModel]="formatMember" valueNeedsToMatchSuggestion="true"
            [(ngModel)]="dummyMemberSelectionModel" (ngModelChange)="addMember($event)">
          </app-autocomplete>
        </div>

        <div class="col-lg-6">
          <table class="table align-baseline">
            <tbody>
              <tr *ngFor="let member of members; index as i">
                <td>{{i}}:</td>
                <td>{{formatMember(member)}}</td>
                <td class="min-width">
                  <!-- Make button just hidden, when no participant is present, to keep layout correct -->
                  <button type="button" class="btn btn-light ms-2" (click)="removeMember(i)"
                    [style.visibility]="member ? 'visible' : 'hidden'">
                    <i class="bi-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <h2>Budgets</h2>
      <div class="row">
        <div class="col-md-6 mb-2">
          <input type="text" name="name" [(ngModel)]="newBudget.name" placeholder="Budget name" class="form-control">
        </div>
        <div class="col-md-6 mb-2">
          <input type="number" name="amount" [(ngModel)]="newBudget.amount" placeholder="Budget amount" class="form-control">
        </div>
        <div class="col-lg-12 mb-2">
          <button type="button" (click)="addBudget()" class="btn btn-primary">Add Budget</button>
        </div>
      </div>

      <div *ngFor="let budget of budgets; let i = index" class="row mb-2">
        <div class="col-lg-10">
          {{ budget.name }}: {{ budget.amount | currency:'EUR':'symbol':'1.0-0' }}
        </div>
        <div class="col-lg-2">
          <button (click)="removeBudget(i)" class="btn btn-light ms-2">
            <i class="bi-trash"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="mt-4 d-flex flex-row">
      <span class="flex-grow-1"></span>
      <button type="submit" class="btn btn-primary"
        [disabled]="(!form.valid || members.length === 0) && mode !== GroupCreateEditMode.info" type="submit">
        {{submitButtonText}}
      </button>
    </div>
  </div>
</form>