
<div class="flex flex-col items-center p-4">
  <p-button label="Create new shopping list" class="mb-4" (click)="showCreateModal = true"></p-button>

  <!-- No shopping lists yet message -->
  <div *ngIf="shoppingLists.length === 0" class="w-full max-w-md p-4 bg-gray-100 rounded text-center">
    <div class="text-lg font-bold">No shopping lists yet</div>
    <div class="text-gray-500">Create a new shopping list to get started</div>
  </div>

  <!-- Shopping-lists -->
  <div *ngIf="shoppingLists.length > 0" class="w-full max-w-md space-y-4">
    <div *ngFor="let groupedLists of shoppingListsGrouped">
      <h2 class="text-lg font-medium">{{ groupedLists.groupName }}</h2>
      <div *ngFor="let shoppingList of groupedLists.shoppingLists" class="flex items-center justify-between p-4 bg-slate-200 rounded mb-4 cursor-pointer" [routerLink]="['/shopping-list', shoppingList.id]">
        <div class="flex items-center space-x-4">
          <div>
            <div class="font-bold">{{ shoppingList.name }}</div>
            <span class="text-sm font-medium text-gray-500"> {{ shoppingList.itemCount - shoppingList.checkedItemCount }} items left</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-shopping-list-create-modal [(visible)]="showCreateModal" (update)="loadShoppingLists()" ></app-shopping-list-create-modal>
