<div class="tw-flex tw-justify-between tw-items-center">
  <h2 class="tw-pt-2">Shopping Lists</h2>
  <div class="tw-d-flex tw-flex-row tw-w-auto">
    <span style="flex: 1"></span>
    <a [queryParams]="{'groupId': groupId}" [routerLink]="['shoppingList', 'create']" aria-label="New Shopping List"
       class="btn btn-secondary">
      <i class="bi bi-plus-lg"></i>
      New Shopping List
    </a>
    </div>
</div>

<div class="tw-h-96 tw-overflow-y-auto tw-overflow-x-hidden">
  <div *ngFor="let shoppingList of shoppingLists"
  class="">
    <a [routerLink]="['shoppingList', shoppingList.id]"
       class="tw-no-underline tw-text-black">
      <div class="tw-p-2 tw-m-2 tw-rounded-md tw-outline tw-outline-1 tw-outline-slate-300
    tw-flex tw-justify-between tw-items-center
    hover:tw-bg-slate-100 hover:tw-cursor-pointer">
      <div>{{shoppingList.name}}</div>
        <div>{{ shoppingList.checkedItemCount }} / {{ shoppingList.itemCount }}</div>
    </div>
    </a>
  </div>
</div>

<div class="flex flex-col items-center p-4">

  asdfasdfasdf
</div>
