<div class="jumbotron mt-5">
  <div *ngIf="!authService.isLoggedIn()" class="col-5 pt-5">
    <h1 class="fw-bold fst-italic display-1">ChippIn</h1>
    <h5 class="fw-light pb-4">Your tool for managing group expenses</h5>
    <a class="btn btn-primary btn-lg" routerLink="/register" role="button">Start now</a>
  </div>
  <div *ngIf="authService.isLoggedIn()" class="pt-5 flex justify-center">
    <p-tabMenu
      [model]="tabMenuItems"
      [activeItem]="tabMenuActiveItem"
      (activeItemChange)="onActiveItemChange($event)"
    ></p-tabMenu>
  </div>
  <p-tieredMenu #recipeMenu [model]="recipeMenuItems" [popup]="true"></p-tieredMenu>

  <app-friends *ngIf="isFriendsSelected()"></app-friends>
  <app-group-list *ngIf="isGroupsSelected()"></app-group-list>
  <app-shopping-list *ngIf="isShoppingListsSelected()"></app-shopping-list>
  <div *ngIf="isRecipeSelected()">
     <recipe *ngIf=isYourRecipeSelect()></recipe>
     <recipe-like *ngIf="isLikedRecipeSelect()"></recipe-like>
     <recipe-global *ngIf="isGlobalRecipeSelect()"></recipe-global>
  </div>
</div>
