<div class="jumbotron mt-5">
  <div *ngIf="!authService.isLoggedIn()" class="col-5 pt-5">
    <h1 class="fw-bold fst-italic display-1">ChippIn</h1>
    <h5 class="fw-light pb-4">Your tool for managing group expenses</h5>
    <a class="btn btn-primary btn-lg" routerLink="/register" role="button">Start now</a>
  </div>
  <div *ngIf="authService.isLoggedIn()" class="pt-5">
    <div class="row">
      <div class="col">
        <div class="row row-cols-2 g-4">

          <app-menu-card>
            <div title>Shopping lists</div>
            <div content>
              <app-shopping-list-info-card-content></app-shopping-list-info-card-content>
            </div>
            <div cardButton1><a class="btn btn-secondary" [routerLink]="['shopping-list', 'create']">Add shopping list</a></div>
          </app-menu-card>

          <app-menu-card>
            <div title>Groups</div>
            <div content>
              <app-group-info-card-content></app-group-info-card-content>
            </div>
            <div cardButton1>
              <a class="btn btn-secondary" routerLink="/group">View all groups</a>
            </div>
            <div cardButton2>
              <a class="btn btn-primary" [routerLink]="['group', 'create']">+</a>
            </div>
          </app-menu-card>

          <app-menu-card>
            <div title>Expenses</div>
            <div content>
              <app-expense-info-card-content></app-expense-info-card-content>
            </div>
            <div cardButton2 class="ms-auto">
              <a class="btn btn-primary" [routerLink]="['/expenses']">+</a>
            </div>
          </app-menu-card>

          <app-menu-card>
            <div title>Data</div>
            <div content>Add data here</div>
            <div cardButton1>
              <a class="btn btn-secondary">Overview and visualization</a>
            </div>
          </app-menu-card>

        </div>
      </div>

      <div class="col-4">

        <app-menu-card [longCard]="true">
          <div title>Friends</div>
          <div contentLong>
            <app-friends-info-card-content></app-friends-info-card-content>
          </div>
          <div cardButton1>
            <a class="btn btn-secondary" *ngIf="authService.isLoggedIn()" routerLink="/friends"
               routerLinkActive="active">Friends</a>
          </div>
          <div cardButton2>
            <a class="btn btn-primary" routerLink="/add-friend">+</a>
          </div>
        </app-menu-card>

      </div>
    </div>

    <div class="row pt-4 pb-5">
      <div class="col">
        <div class="row row-cols-2 g-4">

          <app-menu-card>
            <div title>Item Lists</div>
            <div content>
              <app-item-list-info-card-content></app-item-list-info-card-content>
            </div>
            <div cardButton1>
              <a class="btn btn-secondary" routerLink="/item-list">View all item lists</a>
            </div>
            <div cardButton2>
              <a class="btn btn-primary" routerLink="/item-list/create">+</a>
            </div>
          </app-menu-card>

          <app-menu-card>
            <div title>Recipes</div>
            <div content>
              <app-recipe-info-card-content></app-recipe-info-card-content>
            </div>
            <div cardButton1>
              <a class="btn btn-secondary" routerLink="/recipe">View your recipes</a>
            </div>
            <div cardButton1>
              <a class="btn btn-secondary" routerLink="/recipe">View your liked recipes </a>
            </div>
            <div cardButton1>
              <a class="btn btn-secondary" routerLink="/recipe/global">View popular Recipes </a>
            </div>
            <div cardButton2>
              <a class="btn btn-primary" routerLink="/recipe/create">+</a>
            </div>
          </app-menu-card>

        </div>
      </div>
    </div>

  </div>
</div>
