.jumbotron {
  background: none
}
.group-list {
  padding: 0;
  list-style: none; // Entfernt die Bullet-Points
  margin: 20px 0;

  li {
    background-color: #f8f9fa; // Hintergrundfarbe für jedes Listenelement
    border: 1px solid #dee2e6; // Rahmenfarbe
    padding: 8px 12px;
    margin-bottom: 8px; // Abstand zwischen den Elementen
    transition: background-color 0.3s; // Sanfter Übergang für den Hover-Effekt

    &:hover {
      background-color: #e9ecef; // Hintergrundfarbe beim Darüberfahren
    }
  }
}

.friends-card {
  min-height: 31.6rem;
}

.details-card {
  min-height: 11rem;
}
