<h1 class="display-1">{{ group?.groupName }}</h1>
<div *ngIf="group">
  <div class="d-flex justify-content-between">
    <h3 class="members">Members</h3>
    <button type="button"
            class="btn btn-secondary"
            [routerLink]="['edit']">
      <i class="bi bi-pencil"></i>
      Edit
    </button>
  </div>
  <div class="member-list">
    <div *ngFor="let member of getSortedMembers()" class="member-list-item">
      {{ member.email }}
    </div>
  </div>
  <br>
  <div class="h-52 overflow-y-auto overflow-x-hidden">
    <ng-container *ngFor="let userEmail of objectKeys(debt.membersDebts)">
      <div *ngIf="debt.membersDebts[userEmail] >= 0.01"
           class="debt-list-item positive-debt d-flex align-items-center justify-content-between">
        <span>{{ userEmail }} owes you {{ debt.membersDebts[userEmail] | number:'1.2-2' }} €</span>
        <button type="button" class="btn btn-secondary me-2 small-button invisible-button">Settle debts</button>
      </div>
      <div *ngIf="debt.membersDebts[userEmail] <= -0.01"
           class="debt-list-item negative-debt d-flex align-items-center justify-content-between">
        <span>You owe {{ userEmail }} {{ -debt.membersDebts[userEmail] | number:'1.2-2' }} €</span>
        <button type="button" class="btn btn-secondary me-2 small-button" [routerLink]="['payment', 'create', userEmail, parseFloat((-debt.membersDebts[userEmail]).toFixed(2))]">Settle debts</button>
      </div>
    </ng-container>
  </div>

  <br>

  <div class="">
    <app-expense-list [groupId]="group.id" [activityType]="ActivityType.expense"></app-expense-list>
  </div>
  <br>
  <div class="">
    <app-expense-list [groupId]="group.id" [activityType]="ActivityType.payment"></app-expense-list>
  </div>
  <br>



  <div class="">
    <app-budget-list [groupId]="group.id"></app-budget-list>
  </div>

  
  <div class="">
    <button type="button"
            class="btn btn-secondary"
            [routerLink]="['pantry']"
    >
      Pantry
    </button>
  </div>
  <div class="">
    <app-shopping-list [groupId]="group.id"></app-shopping-list>
  </div>



<div class="pt-5">
  <div class="row">
    <div class="col">

    </div>
  </div>
</div>
</div>
