.members {
  font-weight: normal;
}

.member-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.member-list-item {
  background: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
}

.debt {
  font-weight: normal;
}

.debt-list {
  gap: 20px;
}

.debt-list-item {
  background: #f0f0f0;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 20px;
}

.positive-debt {
  border: 2px solid rgba(0, 128, 0, 0.2);
}

.negative-debt {
  border: 2px solid rgba(255, 0, 0, 0.2);
}

.budgets {
  font-weight: normal;
}

.budget-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.budget-list-item {
  background: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
}
