<!-- Modal for delete confirmation -->
<p-dialog
  header="Delete Budget"
  [modal]="true"
  [(visible)]="isDeleteDialogVisible"
  [style]="{ width: '25rem' }"
>
  <span class="p-text-secondary block mb-5">DIES sollte nicht aufgerufen werden?</span>
  <div class="flex justify-content-end gap-2">
    <p-button label="No" severity="secondary" (click)="closeDeleteDialog()" />
    <p-button label="Yes" (click)="deleteExistingBudget()"/>
  </div>
</p-dialog>





<div class="bg-blue-100 p-6 rounded-lg shadow-md w-full max-w-2xl mx-auto space-y-6 mt-2">
  <div class="space-y-4">
    <!-- Budget Name -->
    <div>
      <label class="block text-sm font-medium text-gray-700">Budget Name</label>
      <input type="text" pInputText
        [(ngModel)]="newBudget.name"
        [disabled]="modeIsInfo()"
        palceholder="Budget Name"
        class="w-full"
        required pattern="^[a-zA-Z0-9](?=.*[a-zA-Z0-9])[a-zA-Z0-9 ]*$"
        maxlength="50"
      />
    </div>

    <!-- Category -->
    <div>
      <label class="block text-sm font-medium text-gray-700">Category</label>
      <p-dropdown
        [options]="categories2"
        [(ngModel)]="selectedCategory"
        name="categorySelection"
        optionLabel="label"
        placeholder="Select a Category"
        [style]="{ width: '100%' }"
        class="w-full"
        [disabled]="modeIsInfo()"
      ></p-dropdown>
    </div>

    <!-- Amount -->
    <div>
      <label class="block text-sm font-medium text-gray-700">Amount</label>
      <p-inputNumber
        [(ngModel)]="newBudget.amount"
        name="amount"
        id="amount"
        placeholder="Budget Amount"
        mode="currency"
        currency="EUR"
        locale="de-DE"
        [min]="0.01"
        [max]="99999"
        class="w-full"
        required
        [disabled]="modeIsInfo()"
      ></p-inputNumber>
    </div>

    <div class="flex items-center space-x-2">
      <label class="block text-sm font-medium text-gray-700">Reset Frequency</label>
      <div>
        <p-radioButton
          name="frequency"
          [value]="ResetFrequency.WEEKLY"
          label="Weekly"
          [(ngModel)]="newBudget.resetFrequency"
          [disabled]="modeIsInfo()"
          pTooltip="Budget will be reset every Monday at 00:00"
          tooltipPosition="bottom"
        ></p-radioButton>
      </div>
      <div>
        <p-radioButton
          name="frequency"
          [value]="ResetFrequency.MONTHLY"
          label="Monthly"
          [(ngModel)]="newBudget.resetFrequency"
          [disabled]="modeIsInfo()"
          pTooltip="Budget will be reset 1st of every Month at 00:00"
          tooltipPosition="bottom"
        ></p-radioButton>
      </div>
    </div>

    <!-- Already Spent (if not in create mode) -->
    <div *ngIf="!modeIsCreate()" class="form-group">
      <label class="block text-sm font-medium text-gray-700">Already Spent</label>
      <p-inputNumber
        [(ngModel)]="newBudget.alreadySpent"
        name="alreadySpent"
        id="alreadySpent"
        mode="currency"
        currency="EUR"
        locale="de-DE"
        [min]="0.01"
        [max]="9999999.99"
        class="w-full"
        disabled
      ></p-inputNumber>
    </div>


    <!-- Buttons -->

    <div *ngIf="modeIsCreate()" class="flex justify-end">
      <p-button (click)="onSubmit()"> Create Budget</p-button>
    </div>
    <div *ngIf="modeIsEdit()" class="flex justify-end gap-2">
      <p-button
        label="Delete Budget"
        icon="pi pi-trash"
        iconPos="left"
        (click)="openDeleteDialog()"
      ></p-button>
      <p-button
        label="Save Changes"
        icon = "pi pi-check"
        iconPos="left"
        (click)="onSubmit()"
      ></p-button>
    </div>

    <div *ngIf="modeIsInfo()" class="flex justify-end gap-2">
      <p-button
        label="Delete Budget"
        icon="pi pi-trash"
        iconPos="left"
        (click)="openDeleteDialog()"
      ></p-button>
      <p-button 
        label="Edit Budget" 
        icon="pi pi-pencil" 
        iconPos="left"
        (click)="switchToEditMode()"
      ></p-button>
    </div>

  </div>
</div>
