<div class="container">
    <h2>Create Budget</h2>
    <form #budgetForm="ngForm" (ngSubmit)="addBudget()">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" [(ngModel)]="newBudget.name" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="amount">Amount:</label>
            <input type="number" id="amount" placeholder="Amount" name="amount" [(ngModel)]="newBudget.amount" class="form-control" required>
        </div>
        <div>
            <label for="category">Category:</label>
            <select [(ngModel)]="newBudget.category" id="category" class="form-control" required>
              <option *ngFor="let category of categories | keyvalue" [ngValue]="category.value">
                {{ category.value }}
              </option>
            </select>
          </div>
          
        <button type="submit" class="btn btn-primary" [disabled]="!budgetForm.valid">Add Budget</button>
    </form>
</div>
