<p-confirmDialog [style]="{ width: '450px' }"/>
<p-dialog
  [(visible)]="newItemDialog"
  [style]="{ width: '600px', minHeight: '420px'}"
  header="Add a new Ingredient"
  [modal]="true"
  styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="field">
      <label for="newIngredientName">Name</label>
      <input
        type="text"
        minlength="2"
        pInputText
        id="newIngredientName"
        [(ngModel)]="newIngredient.description"
        required
        autofocus/>
    </div>
    <!-- TODO <small class="p-error" *ngIf="form.controls['newIngredientName'].errors?.minlength"> Name too short</small> -->
    <div class="field">
      <label for="unit">Unit</label>
      <p-dropdown
        [(ngModel)]="newIngredient.unit"
        id="unit"
        [options]="Object.values(Unit)">
      </p-dropdown>
    </div>
    <div class="field">
      <label for="amount">Amount</label>
      <p-inputNumber
        id="amount"
        [(ngModel)]="newIngredient.amount"
        [min]="0"
        [max]="1000000"
        required/>
      <small class="p-error" *ngIf="submitted && !newIngredient.amount">
        Amount is required.
      </small>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <p-button
      pRipple
      label="Cancel"
      severity="danger"
      icon="pi pi-times"
      [text]="true"
      (click)="hideDialog()"/>
    <p-button
      pRipple
      severity="info"
      label="Save"
      icon="pi pi-check"
      [text]="true"
      (click)="onIngredientSubmit()"
    />
  </ng-template>
</p-dialog>


<p-dialog
  [(visible)]="changeItem"
  [style]="{ width: '600px', minHeight: '420px'}"
  header="Add a new Ingredient"
  [modal]="true"
  styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="field">
      <label for="newIngredientName">Name</label>
      <input
        type="text"
        minlength="2"
        pInputText
        id="cIngredientName"
        [(ngModel)]="itemToEdit.description"
        required
        autofocus/>
    </div>
    <!-- TODO <small class="p-error" *ngIf="form.controls['newIngredientName'].errors?.minlength"> Name too short</small> -->
    <div class="field">
      <label for="unit">Unit</label>
      <p-dropdown
        [(ngModel)]="itemToEdit.unit"
        id="cunit"
        [options]="Object.values(Unit)">
      </p-dropdown>
    </div>
    <div class="field">
      <label for="amount">Amount</label>
      <p-inputNumber
        id="camount"
        [(ngModel)]="itemToEdit.amount"
        [min]="0"
        [max]="1000000"
        required/>
      <small class="p-error" *ngIf="submitted && !newIngredient.amount">
        Amount is required.
      </small>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <p-button
      pRipple
      label="Cancel"
      severity="danger"
      icon="pi pi-times"
      [text]="true"
      (click)="hideEditDialog()"/>
    <p-button
      pRipple
      severity="info"
      label="Save"
      icon="pi pi-check"
      [text]="true"
      (click)="onIngredientChange()"
    />
  </ng-template>
</p-dialog>





<form #form="ngForm" (ngSubmit)="onRecipeSubmit(form)" [class.was-validated]="form.submitted">
  <div class="bg-blue-100 p-4">

    <!-- Header part with diagram -->
    <div class="flex justify-between items-start">

      <!-- Left Side -->
      <div class="flex-1 p-4 max-w-3xl">

        Picture here



      </div>

      <!-- Right Side -->
      <div class="flex-none ml-8 w-1/3">
        <h1 class="title"> Make your Recipe even better! </h1>
        <div class="mb-4" >



          <input pInputText id="recipename" [(ngModel)]="recipe.name" name="recipeName"
                 required minlength="2" maxlength="60" placeholder="Name of your Recipe"/>
          <div class="flex">
            <small class="p-error" *ngIf="submitted && !recipe.name">
              Name is missing.
            </small>
            <small class="p-error" *ngIf="form.controls['recipeName'].errors?.minlength">Recipe name is too short.</small>
          </div>

          <div class="upper">

            <p-inputNumber
              inputId="integeronly"
              [(ngModel)]="recipe.portionSize"
              [min]="1"
              [max]="1000"
              required
              placeholder="Portion Size"/>
            <small class="p-error" *ngIf="submitted && !recipe.portionSize">
              Portion Size is missing.
            </small>

            <div (click)="changeIsPublic()"> Change is Public</div>
          </div>
          <div class="upper flex" *ngIf="recipe.name!==''">

            Should this recipe be public?
            <button [pTooltip]="'This Recipe is now visible to everyone'" *ngIf="isPublic" class="public-button rounded" (click)="changeIsPublic()">Public</button>

            <!-- Button for isPublic = false -->
            <button [pTooltip]="'This Recipe is now only for your eyes'" *ngIf="!isPublic" class="private-button rounded" (click)="changeIsPublic()">Private</button>

          </div>

          <div class="submit flex">
            <p-button [pTooltip]="'Save your changes!'" severity="info" [disabled]="(!form.valid || recipe.ingredients.length <= 1)" (click)="onRecipeSubmit(form)">Save</p-button>
            <div class="test">
            <p-button [pTooltip]="'Delete your Recipe'" tooltipPosition="left" severity="danger"  (click)="deleteRecipe()">Delete</p-button></div>
          </div>




        </div>

      </div>


    </div>
  </div>
  <div class="mb-4 input-fields">
    <label for="recipeDescription" class="col-form-label text-md-end text-muted col-md-1 col-lg-0">

    </label>
    <div class="col-md-11 col-lg-10 input-area">
      <label for="recipeDescription">Recipe description</label>
      <textarea
        id="recipeDescription"
        pInputTextarea
        [autoResize]="true"
        rows="8" cols="100"
        name="recipeDescription"

        class="form-control"
        [(ngModel)]="recipe.description"
        #recipeDescriptionModel="ngModel"
        required minlength="2"
        (keydown.enter)="handleEnter($event)"
      ></textarea>
      <div></div>

      <div class="flex">
        <small class="p-error" *ngIf="submitted && !recipe.description"> Description is missing </small>
        <small class="p-error" *ngIf="form.controls['recipeDescription'].errors?.minlength">Recipe name must be at least 2 characters long.</small>
      </div>
      <!-- submit -->



    </div>

  </div>

</form>

<div class="flex flex-col items-center p-4">
  <div class="container mx-auto px-12 py-4 bg-blue-50 rounded text-center">
    <div class="container mx-auto p-4">
      <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
          <p-button
            [pTooltip]="'Add a new Ingredient to your Recipe!'"
            pRipple
            severity="success"
            label="New"
            icon="pi pi-plus"
            class="mr-2"
            (click)="openNew()"/>
        </ng-template>

      </p-toolbar>

      <p-table
        #dt
        [value]="recipe.ingredients"
        [globalFilterFields]="['description', 'amount', 'min']"
        [(selection)]="selectedItems"
        [tableStyle]="{ 'min-width': '75rem' }"
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} items"
        [showCurrentPageReport]="true"
      >
        <ng-template pTemplate="caption">
          <div class="flex align-items-center justify-between">
            <h5 class="m-0">Ingredients</h5>

          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 4rem">

            </th>
            <th pSortableColumn="description" style="min-width:10rem">
              Name
              <p-sortIcon field="description"/>
            </th>
            <th pSortableColumn="amount" style="min-width:8rem">
              Amount
              <p-sortIcon field="amount"/>
            </th>
            <th></th>
            <th>Actions</th>

          </tr>
        </ng-template>


        <ng-template pTemplate="body" let-item let-i="rowIndex">
          <tr>
            <td>

            </td>
            <td>
              {{ item.description }}
            </td>
            <td>

              {{item.amount}} {{getRecipeSuffix(item)}}

            </td>
            <td>

            </td>
            <td>

              <p-button
                [pTooltip]="'Change ingredient'"
                pRipple
                icon="pi pi-pencil"
                class="mr-2"
                [rounded]="true"
                [outlined]="true"
                severity="success"
                (click)="changeIngredient(i)"/>

              <p-button
                [pTooltip]="'Remove ingredient'"
                pRipple
                icon="pi pi-trash"
                severity="danger"
                [rounded]="true"
                [outlined]="true"
              (click)="deleteIngredient(item.id,i)"/>


            </td>
          </tr>
        </ng-template>
      </p-table>

    </div>
  </div>
</div>
