<div class="tw-h-40 tw-overflow-y-auto">
  <ul class="tw-p-0 tw-list-none tw-mx-[20px]" *ngIf="groups.length > 0">
    <li class="tw-cursor-pointer tw-bg-gray-50 tw-flex tw-justify-between tw-gap-2 tw-justify-betweenn tw-border tw-px-1 tw-py-2 tw-mb-1 tw-transition-[0.3s] hover:tw-bg-gray-100"
        *ngFor="let group of groups; let i=index" [routerLink]="['/group/', group.id]">
      <div class="tw-truncate tw-max-w-64 tw-pl-2">{{ group.groupName}}</div>
    </li>
  </ul>
  <ul class="group-list" *ngIf="groups.length === 0">
    <li>
      You are in no group
    </li>
  </ul>
</div>

