<h1 class="display-1">{{heading}}</h1>
<form #form="ngForm" [class.was-validated]="form.submitted" (ngSubmit)="onSubmit(form)">
  <br>

  <div class="row">
    <!-- Start name -->
    <div class="mb-4 12">
      <!-- When nesting rows, always make row > col-* > row. The Bootstrap classes do not work right when an element is both col* and row -->
      <div class="row">
        <label for="recipeName" class="col-form-label text-md-end text-muted col-md-1 col-lg-0">
          Name
        </label>
        <div class="col-md-4 col-lg-3">
          <input type="text"
                 id="recipeName"
                 name="recipeName"
                 placeholder="Recipe name"
                 class="form-control"
                 [class]="dynamicCssClassesForInput(recipeNameModel)"
                 [(ngModel)]="recipe.name"
                 #recipeNameModel="ngModel"
                 required

          >
          <div class="invalid-feedback">
            <!-- This is shown, when the form validation deems the name input to be invalid -->
            Name is required
          </div>
        </div>

        <label for="isPublic" class="col-form-label text-md-end text-muted col-md-1 col-lg-1">
          Public
        </label>
        <div class="col-md-4 col-lg-3">
          <select id="isPublic"
                  name="isPublic"
                  class="form-select"
                  [(ngModel)]="recipe.isPublic"
                  #isPublicModel="ngModel"
                  required
          >
            <option [value]="true">Yes</option>
            <option [value]="false">No</option>
          </select>
          <div class="invalid-feedback">
            <!-- This is shown, when the form validation deems the isPublic selection to be invalid -->
            Please select whether the recipe should be public or not
          </div>
        </div>

      </div>
      <br>
      <div class="row">
        <label for="recipeDescription" class="col-form-label text-md-end text-muted col-md-1 col-lg-0">
          Description
        </label>
        <div class="col-md-11 col-lg-10">
          <textarea
            id="recipeDescription"
            name="recipeName"
            placeholder="Recipe description"
            class="form-control"
            [class]="dynamicCssClassesForInput(recipeDescriptionModel)"
            [(ngModel)]="recipe.description"
            #recipeDescriptionModel="ngModel"
            required
            rows="4"
          > </textarea>
          <div class="invalid-feedback">
            <!-- This is shown, when the form validation deems the description input to be invalid -->
            Description is required
          </div>
        </div>


      </div>
    </div>

    <br>
    <br>
    <br>
    <div>
      <h2>Ingredients</h2>
      <!-- Begin Ingredient selection block -->
      <div class="row">
        <div class="col-lg-6 mb-2">
          <app-autocomplete
            name="tournamentParticipantSelection"
            textInputClass="form-control"
            [suggestions]="memberSuggestions"
            [formatModel]="formatIngredients"
            valueNeedsToMatchSuggestion="true"
            [(ngModel)]="dummyMemberSelectionModel"
            (ngModelChange)="addIngredient($event)"
          >
          </app-autocomplete>
        </div>

        <div class="col-lg-6">
          <table class="table align-baseline">
            <tbody>
            <tr *ngFor="let ingredient of ingredients; index as i">
              <td>{{i}}:</td>
              <td>{{formatIngredients(ingredient)}}</td>
              <td class="min-width">
                <!-- Make button just hidden, when no participant is present, to keep layout correct -->
      <button type="button"
              class="btn btn-light ms-2"
              (click)="removeIngredient(i)"
              [style.visibility]="ingredient ? 'visible' : 'hidden'">
        <i class="bi-trash"></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>
</div>
</div>
</div>

<div class="mt-4 d-flex flex-row">
<span class="flex-grow-1"></span>
<button type="submit"
    class="btn btn-primary"
    [disabled]="(!form.valid || ingredients.length === 0)"
    type="submit"
>
{{submitButtonText}}
</button>
</div>
</div>
</form>


