.container .row.align-items-center {
  margin-left: 20px; /* Abstand von links für die Mitglieder-Zeilen */
}

.container .row.align-items-center .form-check-input {
  margin-left: 10px; /* Abstand zwischen Checkbox und Name */
}

.container .row.align-items-center .form-control {
  max-width: 70px; /* Begrenzung der Breite des Prozent-Eingabefelds */
  margin-left: 10px; /* Abstand zwischen Prozent-Eingabefeld und Checkbox */
}