<h1 class="display-1">{{heading}}</h1>
<form #form="ngForm" [class.was-validated]="form.submitted" (ngSubmit)="onSubmit(form)">
  <br>

  <div class="row">
    <!-- Start expense name -->
    <div class="container">
      <div class="mb-2 col-lg-6">
        <!-- When nesting rows, always make row > col-* > row. The Bootstrap classes do not work right when an element is both col* and row -->
        <div class="row">
          <label for="expenseName" class="col-form-label text-md-end text-muted col-md-3 col-lg-2">
            Expense
          </label>
          <div class="col-md-9 col-lg-8">
            <input type="text" id="expenseName" name="expenseName" placeholder="Expense name" class="form-control"
              [class]="dynamicCssClassesForInput(expenseNameModel)" [(ngModel)]="expense.name"
              #expenseNameModel="ngModel" required>
            <div class="invalid-feedback">
              <!-- This is shown, when the form validation deems the name input to be invalid -->
              Expense name is required
            </div>
          </div>
        </div>
      </div>
    
      <!-- Start expense amount -->
      <div class="mb-2 col-lg-6">
        <!-- When nesting rows, always make row > col-* > row. The Bootstrap classes do not work right when an element is both col* and row -->
        <div class="row">
          <label for="expenseAmount" class="col-form-label text-md-end text-muted col-md-3 col-lg-2">
            Amount
          </label>
          <div class="col-md-9 col-lg-8">
            <input type="number" min="0.01" step="0.01" id="expenseAmount" name="expenseAmount" placeholder="Expense amount" class="form-control"
              [class]="dynamicCssClassesForInput(expenseAmountModel)" [(ngModel)]="expense.amount"
              #expenseAmountModel="ngModel" required>
            <div class="invalid-feedback">
              <!-- This is shown, when the form validation deems the amount input to be invalid -->
              Expense amount must be a positive number
            </div>
          </div>
        </div>
      </div>

      <!-- Start expense category -->
      <div class="mb-2 col-lg-6">
        <!-- When nesting rows, always make row > col-* > row. The Bootstrap classes do not work right when an element is both col* and row -->
        <div class="row">
          <label for="expenseCategory" class="col-form-label text-md-end text-muted col-md-3 col-lg-2">
            Catgory
          </label>
          <div class="col-md-9 col-lg-8">
            <app-autocomplete name="categorySelection" textInputClass="form-control"
              [suggestions]="categorySuggestions" [formatModel]="formatCategory" valueNeedsToMatchSuggestion="true"
              [(ngModel)]="dummyCategorySelectionModel" (ngModelChange)="categorySelected($event)">
            </app-autocomplete>
          </div>
        </div>
      </div>

    </div>

    <!-- Start group selection -->
    <div class="container">
      <div class="mb-2 col-lg-6">
        <!-- When nesting rows, always make row > col-* > row. The Bootstrap classes do not work right when an element is both col* and row -->
        <div class="row">
          <label for="groupName" class="col-form-label text-md-end text-muted col-md-3 col-lg-2">
            Group
          </label>
          <div class="col-md-9 col-lg-8">
            <app-autocomplete name="groupSelection" textInputClass="form-control"
              [suggestions]="groupSuggestions" [formatModel]="formatGroup" valueNeedsToMatchSuggestion="true"
              [(ngModel)]="dummyGroupSelectionModel" (ngModelChange)="groupSelected($event)">
            </app-autocomplete>
            <div class="invalid-feedback">
              <!-- This is shown, when the form validation deems the name input to be invalid -->
              Group is required
            </div>
          </div>
        </div>
      </div>
    
      <!-- expense participants -->
      <div class="container mt-3">
        <div *ngIf="members && members.length > 0" class="mb-2 row align-items-center">
          <div class="col-md-3">
            <label for="payerEmail" class="col-form-label text-md-end text-muted mb-0">Payed by</label>
          </div>
          <div class="col-md-9">
            <div class="row">
              <div class="col">
                <app-autocomplete name="payerSelection" textInputClass="form-control"
                  [suggestions]="payerSuggestions" [formatModel]="formatPayer" valueNeedsToMatchSuggestion="true"
                  [(ngModel)]="dummyPayerSelectionModel" (ngModelChange)="payerSelected($event)">
                </app-autocomplete>
              </div>
              <div class="col">
                <div class="invalid-feedback">
                  <!-- This is shown, when the form validation deems the name input to be invalid -->
                  Payer is required
                </div>
              </div>
            </div>
          </div>
        </div>


        <div *ngFor="let member of members; let i = index" class="mb-2 row align-items-center">
          <div class="col-md-3">
            <span>{{ member.name }}</span>
          </div>
          <div class="col-md-3">
            <input type="checkbox" [(ngModel)]="member.isParticipating" class="form-check-input" name="isParticipating{{i}}">
          </div>
          <div class="col-md-4">
            <div class="input-group">
              <input type="number" [(ngModel)]="member.percentage" class="form-control" placeholder="%" min="0" max="100" name="percentage{{i}}">
              <div class="input-group-append">
                <span class="input-group-text">%</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    
    </div>
    
    <div class="mt-4 d-flex flex-row">
      <span class="flex-grow-1"></span>
      <button type="submit" class="btn btn-primary"
        [disabled]="(!form.valid || !members || members.length === 0)" type="submit">
        {{submitButtonText}}
      </button>
    </div>
  </div>
</form>
