<!-- Modal for delete confirmation -->
<p-dialog
  header="Delete Expense"
  [modal]="true"
  [(visible)]="isDeleteDialogVisible"
  [style]="{ width: '25rem' }"
>
  <span class="p-text-secondary block mb-5">Do you really want to delete this expense?</span>
  <div class="flex justify-content-end gap-2">
    <p-button label="No" severity="secondary" (click)="closeDeleteDialog()" />
    <p-button label="Yes" (click)="deleteExistingExpense()"/>
  </div>
</p-dialog>

<div class="bg-blue-100 p-6 rounded-lg shadow-md w-full max-w-2xl mx-auto space-y-6 mt-2">

  <label *ngIf="expenseIsDeleted()" class="flex items-center text-red-500 font-bold">
    <i class="pi pi-exclamation-triangle mr-2"></i>
    This Expense is marked as deleted!
  </label>

  <label *ngIf="expenseIsArchived()" class="flex items-center text-red-500 font-bold">
    <i class="pi pi-exclamation-triangle mr-2"></i>
    This Expense is marked as archived!
  </label>
  <label *ngIf="expenseIsArchived()" class="block text-sm font-medium text-gray-700">A member of the expense has left the group, thus it is not possible to make changes.</label>

  <!-- Container for the form and the image upload -->
  <div class="flex">
    <!-- Existing input fields (left side) -->
    <div class="space-y-4 w-1/2">
      <!-- Expense name -->
      <div>
        <label class="block text-sm font-medium text-gray-700">Expense Name</label>
        <input type="text" pInputText
          [(ngModel)]="expenseName"
          [disabled]="modeIsInfo()"
        />
      </div>
      <!-- Expense amount -->
      <div>
        <label for="currency-germany" class="block text-sm font-medium text-gray-700">Total Amount (€)</label>
        <p-inputNumber
          [(ngModel)]="expenseAmount"
          (onInput)="expenseAmountChange($event)"
          [disabled]="modeIsInfo()"
          mode="currency"
          inputId="currency-germany"
          currency="EUR"
          locale="de-DE"
          [min]="0.01"
          [max]="9999999.99"
        />
      </div>
      <!-- Expense category -->
      <div>
        <label class="block text-sm font-medium text-gray-700">Category</label>
        <input type="text" pInputText
          *ngIf="modeIsInfo()"
          [(ngModel)]="selectedCategory.name"
          [disabled]="modeIsInfo()" />
        <p-autoComplete
          *ngIf="!modeIsInfo()"
          [(ngModel)]="selectedCategory"
          [dropdown]="true"
          [suggestions]="filteredCategories"
          (completeMethod)="filterCategory($event)"
          [forceSelection]="true"
          field="name"
        />
      </div>
      <!-- Expense payer -->
      <div>
        <label class="block text-sm font-medium text-gray-700">Payer</label>
        <input type="text" pInputText
          *ngIf="modeIsInfo()"
          [(ngModel)]="selectedPayer.name"
          [disabled]="modeIsInfo()" />
        <p-autoComplete
          *ngIf="!modeIsInfo()"
          [(ngModel)]="selectedPayer"
          [dropdown]="true"
          [suggestions]="filteredPayers"
          (completeMethod)="filterPayer($event)"
          [forceSelection]="true"
          field="name"
        />
      </div>
    </div>
    
    <!-- Image display in info mode -->
    <div *ngIf="modeIsInfo() && imageUrl" class="w-1/2 pl-4 pt-4">
      <label class="block text-sm font-medium text-gray-700"></label>
      <p-image 
        [src]="imageUrl" 
        alt="Image" 
        height="192" 
        [preview]="true"
      />
    </div>

    <!-- Image upload -->
    <div *ngIf="!modeIsInfo()" class="w-1/2 pl-4 pt-4">
      <div *ngIf="!imageUrl" class="mt-2 flex justify-center px-6 pt-5 pb-6 border-2 border-dashed rounded-md relative"
           (dragover)="onDragOver($event)" 
           (dragleave)="onDragLeave($event)" 
           (drop)="onDrop($event)"
           [class.bg-gray-100]="isDragging">
        <div class="space-y-1 text-center">
          <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
            <path d="M28 8h10l2 2v30l-2 2H10l-2-2V10l2-2h10m4 0v30m8-14h-8m0 0l4 4m-4-4l-4-4m4 4H16" />
          </svg>
          <div class="flex text-sm text-gray-600">
            <label for="file-upload" class="relative cursor-pointer bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500">
              <span>Upload bill</span>
              <input id="file-upload" name="file-upload" type="file" accept="image/*" class="sr-only" (change)="onFileSelected($event)">
            </label>
            <p class="pl-1">or drag and drop</p>
          </div>
          <p class="text-xs text-gray-500">PNG, JPG, GIF up to 10MB</p>
        </div>
      </div>
      <div class="relative" *ngIf="imageUrl">
        <img [src]="imageUrl" alt="Uploaded Image" class="mx-auto h-48 w-auto"/>
        <p-button icon="pi pi-times" class="p-button-rounded p-button-danger absolute top-0 right-0" (click)="removeImage()"></p-button>
      </div>
    </div>

  </div>

  <!-- Mitglieder der Gruppe -->
  <div>
    <div class="text-lg font-bold mb-2">Group Members</div>
    <div class="space-y-4">
      <div *ngFor="let member of members" class="flex justify-between items-center">
        <div class="flex items-center space-x-4">
          <p-checkbox
            [readonly]="modeIsInfo()"
            [(ngModel)]="member.isParticipating"
            (onChange)="expenseAmountChange($event)"
            [binary]="true"
            type="binary"
          />
          <label class="block text-sm font-medium text-gray-700">{{ member.email }}</label>
        </div>
        <p-inputNumber
          [disabled]="modeIsInfo()"
          [(ngModel)]="member.amount"
          mode="currency"
          currency="EUR"
          locale="de-DE"
          [min]="0.01"
          [max]="9999999.99"
          placeholder="Amount (€)"
        />
      </div>
    </div>
  </div>

  <!-- Buttons -->
  <div *ngIf="modeIsCreate() && !expenseIsDeleted() && !expenseIsArchived()" class="flex justify-end">
    <p-button (click)="onSubmit()"> Create Expense</p-button>
  </div>
  <div *ngIf="modeIsEdit() && !expenseIsDeleted() && !expenseIsArchived()" class="flex justify-end gap-2">
  <!--    <button (click)="openDeleteDialog()" class="bg-red-500 text-white font-bold py-2 px-4 rounded flex items-center hover:bg-red-600 mr-2">-->
  <!--      <i class="pi pi-trash mr-2"></i> Delete Expense-->
  <!--    </button>-->
    <p-button
      label="Delete Expense"
      icon="pi pi-trash"
      iconPos="left"
      (click)="openDeleteDialog()"
    ></p-button>

    <p-button
      label="Save Changes"
      icon = "pi pi-check"
      iconPos="left"
      (click)="onSubmit()"
    ></p-button>
  </div>
  <div *ngIf="modeIsInfo() && !expenseIsDeleted() && !expenseIsArchived()" class="flex justify-end gap-2">
  <!--    <button (click)="openDeleteDialog()" class="bg-red-500 text-white font-bold py-2 px-4 rounded flex items-center hover:bg-red-600 mr-2">-->
  <!--      <i class="pi pi-trash mr-2"></i> Delete Expense-->
  <!--    </button>-->
    <p-button
      label="Delete Expense"
      icon="pi pi-trash"
      iconPos="left"
      (click)="openDeleteDialog()"
    ></p-button>

    <p-button
      label="Edit Expense"
      icon="pi pi-pencil"
      iconPos="left"
      (click)="switchToEditMode()"
    ></p-button>
  </div>
  <div *ngIf="expenseIsDeleted() && !expenseIsArchived()" class="flex justify-end">
    <p-button
      label="Recover Expense"
      icon="pi pi-undo"
      iconPos="left"
      (click)="recoverDeletedExpense()"
    ></p-button>
  </div>
</div>
