.container .row.align-items-center {
  margin-left: 20px;
}

.container .row.align-items-center .form-check-input {
  margin-left: 10px;
}

.container .row.align-items-center .form-control {
  max-width: 150px;
  margin-left: 10px;
}