<div class="bg-blue-100 p-6 rounded-lg shadow-md w-full max-w-2xl mx-auto space-y-6 mt-2">

  <!-- Input fields -->
  <div class="space-y-4">
    <!-- Expense name -->
    <div>
      <label class="block text-sm font-medium text-gray-700">Expense Name</label>
      <input [(ngModel)]="expenseName" type="text" class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
    </div>
    <!-- Expense amount -->
    <div>
      <label for="currency-germany" class="block text-sm font-medium text-gray-700">Total Amount (€)</label>
      <p-inputNumber 
        [(ngModel)]="expenseAmount"
        (onInput)="expenseAmountChange($event)"
        mode="currency"
        inputId="currency-germany"
        currency="EUR" 
        locale="de-DE"
        [min]="0.01"
        [max]="9999999.99"
      /> 
    </div>
    <!-- Expense category -->
    <div>
      <label class="block text-sm font-medium text-gray-700">Category</label>
      <p-autoComplete 
        [(ngModel)]="selectedCategory" 
        [dropdown]="true"
        [suggestions]="filteredCategories" 
        (completeMethod)="filterCategory($event)" 
        [forceSelection]="true"
        field="name" 
      />
    </div>
    <!-- Expense payer -->
    <div>
      <label class="block text-sm font-medium text-gray-700">Payer</label>
      <p-autoComplete 
        [(ngModel)]="selectedPayer" 
        [dropdown]="true"
        [suggestions]="filteredPayers" 
        (completeMethod)="filterPayer($event)"
        [forceSelection]="true"
        field="name" 
      />
    </div>
  </div>

  <!-- Mitglieder der Gruppe -->
  <div>
    <div class="text-lg font-bold mb-2">Group Members</div>
    <div class="space-y-4">
      <!-- Mitglied 1 -->
      <div *ngFor="let member of members" class="flex justify-between items-center">
        <div class="flex items-center space-x-4">
          <p-checkbox 
            [(ngModel)]="member.isParticipating"
            (onChange)="expenseAmountChange($event)" 
            [binary]="true" 
            type="binary"
          />
          <label class="block text-sm font-medium text-gray-700">{{ member.email }}</label>
        </div>
        <p-inputNumber 
          [(ngModel)]="member.amount" 
          mode="currency"
          currency="EUR" 
          locale="de-DE"
          [min]="0.01"
          [max]="9999999.99"
          placeholder="Amount (€)"
        /> 
      </div>
    </div>
  </div>

  <!-- Schaltfläche zum Erstellen der Expense -->
  <div class="flex justify-end">
    <button (click)="onSubmit()" class="bg-blue-500 text-white px-4 py-2 rounded-md shadow hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">Create Expense</button>
  </div>
</div>