<div *ngIf="shoppingListDetailDto?.id" class="px-28 flex flex-col gap-2 items-center">
  <div class="flex justify-between pt-8 w-full">
    <div class="flex flex-col gap-2">

      <h1 class="text-4xl font-medium">{{ shoppingListDetailDto?.name }}</h1>
      <!-- Categories -->
      <div *ngIf="shoppingListDetailDto?.categories.length > 0" class="flex gap-2 items-center">
        <h2>Categories: </h2>
        <p-tag *ngFor="let category of shoppingListDetailDto.categories" severity="info" value="{{category}}"></p-tag>
      </div>
      <!-- Owner -->
      <div *ngIf="shoppingListDetailDto?.owner" class="flex gap-2 items-center">
        <h2>Owner: </h2>
        <button type="button">
          <p-tag
            severity="info"
            value="{{ shoppingListDetailDto?.owner.email === userEmail ? 'You' : shoppingListDetailDto?.owner.email  }}">
          </p-tag>
        </button>
      </div>
      <!-- Group -->
      <div *ngIf="shoppingListDetailDto?.group" class="flex gap-2 items-center">
        <h2>Group: </h2>
        <button type="button" [routerLink]="['/group', shoppingListDetailDto?.group?.id]">
          <p-tag styleClass="p-2 hover:shadow-md cursor-pointer" icon="pi pi-external-link"
                 severity="success" value="{{ shoppingListDetailDto?.group.groupName }}">
          </p-tag>
        </button>
      </div>

      <!-- Item Quick Add-->
      <div *ngIf="!!shoppingListDetailDto?.group">
        <p-autoComplete [suggestions]="filteredMissingItems" (completeMethod)="filterMissingItems($event)"
                        [forceSelection]="true" [(ngModel)]="selectedMissingItem"
                        (onSelect)="selectItemToAdd($event)"
                        [dropdown]="true" optionLabel="description" placeholder="Quick add item"/>
      </div>
    </div>
    <div class="flex flex-col gap-1 items-end justify-center pr-6">
      <p-button label="Edit" icon="pi pi-pencil" severity="info" (click)="this.showEditModal = true"></p-button>
      <p-confirmDialog></p-confirmDialog>
      <div pTooltip="Only the owner can delete a shopping list" [tooltipDisabled]="shoppingListDetailDto.owner.id === userId">
        <p-button label="Delete" icon="pi pi-trash" severity="danger"
                  [disabled]="shoppingListDetailDto.owner.id !== userId" (click)="confirmDelete()"></p-button>
      </div>
    </div>
  </div>

  <app-shopping-list-edit-modal [(visible)]="showEditModal" (update)="loadShoppingListDetailDto()"
                                [shoppingList]="shoppingListDetailDto"></app-shopping-list-edit-modal>


  <div class="w-full">
    <p-divider></p-divider>
  </div>

  <!-- Shopping list items and shopping cart -->
  <div class="grid grid-cols-5 w-full 2xl:px-20">
    <div class="flex flex-col gap-4 py-4 px-8 col-span-3" pDroppable (onDrop)="dropToShoppingList()">
      <div class="flex justify-between items-center">
        <h3 class="w-fit pr-2">Shopping List</h3>
        <div class="pr-8">
          <p-button label="Add new item" icon="pi pi-plus" size="small" severity="primary"
                    (click)="openAddItemDialog()"></p-button>
        </div>
      </div>
      <div *ngIf="getShoppingListItems().length === 0" class="flex justify-center items-center w-full h-32">
        <!-- Nothing in shopping list -->
        <p class="text-gray-500">Your shopping list is empty</p>
      </div>
      <div
        class="flex justify-between items-center hover:outline outline-1 outline-slate-300 w-full bg-sky-100 px-6 py-4 gap-4 shadow-md shadow-gray-200 rounded-lg cursor-move"
        *ngFor="let item of getShoppingListItems()" pDraggable (onDragStart)="dragStart(item)" (onDragEnd)="dragEnd()">
        <div class="flex flex-col gap-1 w-1/3">
          <h3 class="font-medium truncate">{{ item.item.description }}</h3>
          <p
            class="text-sm">{{ displayQuantity(item.item.unit, item.item.amount)[1] }} {{ displayQuantity(item.item.unit, item.item.amount)[0] }}</p>
        </div>
        <div class="flex gap-8 justify-between items-center">
          <p-button label="Move to cart" size="small" icon="pi pi-shopping-cart" severity="info" [text]="true"
                    [outlined]="true"
                    (click)="toggleChecked(item.id)"></p-button>
          <div>
            <p-button icon="pi pi-ellipsis-v" size="small" severity="secondary" [text]="true"
                      (click)="selectItem(item); shoppingListItemMenu.show($event)"></p-button>
            <p-menu #shoppingListItemMenu [model]="shoppingListItemMenuItems" [popup]="true"></p-menu>
          </div>
        </div>
      </div>
    </div>
    <!-- Shopping cart -->
    <div class="flex flex-col min-h-96 gap-4 py-4 col-span-2" pDroppable (onDrop)="dropToPantry()">
      <div class="flex gap-2 justify-between items-center">
        <h3>Shopping Cart</h3>
        <p-button *ngIf="!!shoppingListDetailDto.group" label="Move all to pantry" icon="pi pi-check-square"
                  severity="primary" [outlined]="true"
                  [text]="true"
                  (click)="confirmMoveAllItemsInCartToPantry()"></p-button>
        <p-button *ngIf="!shoppingListDetailDto.group" label="Delete all in cart" icon="pi pi-trash" severity="primary"
                  [outlined]="true"
                  [text]="true"
                  (click)="confirmDeleteAllInCart()"></p-button>
      </div>
      <div class="flex flex-col gap-2">
        <div *ngIf="getShoppingCartItems().length === 0" class="flex justify-center items-center w-full h-32">
          <p class="text-gray-500 px-8 py-10 outline-4 outline-gray-200 outline-dashed rounded-lg">Drag items here</p>
        </div>
        <div *ngFor="let item of getShoppingCartItems()" pDraggable (onDragStart)="dragStart(item)"
             (onDragEnd)="dragEnd()"
             class="flex bg-gray-200 hover:outline outline-1 outline-slate-300 justify-between rounded-md cursor-move w-full px-2 py-1  shadow-md items-center">
          <div class="flex gap-2 w-2/3">
            <p
              class="text-sm w-1/4">{{ displayQuantity(item.item.unit, item.item.amount)[1] }} {{ displayQuantity(item.item.unit, item.item.amount)[0] }}</p>
            <h3 class="font-medium truncate w-2/3" pTooltip="{{item.item.description}}"
                tooltipPosition="left">{{ item.item.description }}</h3>
          </div>
          <div>
            <p-button icon="pi pi-ellipsis-v" size="small" severity="secondary" [text]="true"
                      (click)="selectItem(item); shoppingCartItemMenu.show($event)"></p-button>
            <p-menu #shoppingCartItemMenu [model]="shoppingCartItemMenuItems" [popup]="true"></p-menu>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>

<!-- Add new item dialog -->
<p-dialog header="Add new item" [(visible)]="displayAddItemDialog" [modal]="true" [style]="{width: '35rem'}">
  <!-- Add new item (name, amount, unit) -->
  <div class="flex flex-col gap-4 p-4">
    <form [formGroup]="addItemForm">
      <div class="flex flex-col gap-2">
        <label for="description">Name</label>
        <input id="description" type="text" formControlName="name" pInputText placeholder="e.g. Milk" [minLength]="2"
               [maxLength]="60">
      </div>
      <div class="pb-8">
        <label for="amount">Amount</label>
        <div class="flex pb-4">
          <p-inputNumber formControlName="amount" id="amount" [showButtons]="true" inputId="amount" [min]="1"
                         [max]="100000" placeholder="e.g. 1"></p-inputNumber>
          <p-dropdown formControlName="unit" [options]="units" optionLabel="label" placeholder="Unit"
                      [scrollHeight]="'120px'"
                      optionValue="value"></p-dropdown>
        </div>
      </div>
      <div class="flex justify-end gap-4 pb-8">
        <p-button label="Cancel" icon="pi pi-times" (click)="displayAddItemDialog = false"
                  severity="secondary"></p-button>
        <p-button label="Add" icon="pi pi-plus" (click)="addItem()"></p-button>
      </div>
    </form>
  </div>

</p-dialog>

<!-- Edit item dialog -->
<p-dialog header="Edit item" [(visible)]="displayEditItemDialog" [modal]="true" [style]="{width: '35rem'}">
  <!-- Edit item (name, amount, unit) -->
  <div class="flex flex-col gap-4 p-4">
    <form [formGroup]="editItemForm">
      <div class="flex flex-col gap-2">
        <label for="editDescription">Name</label>
        <input id="editDescription" type="text" formControlName="name" pInputText placeholder="e.g. Milk"
               [minLength]="2"
               [maxLength]="60">
      </div>
      <div class="pb-8">
        <label for="editAmount">Amount</label>
        <div class="flex pb-4">
          <p-inputNumber formControlName="amount" id="editAmount" [showButtons]="true" inputId="amount" [min]="1"
                         [max]="100000" placeholder="e.g. 1"></p-inputNumber>
          <p-dropdown formControlName="unit" [options]="units" optionLabel="label" placeholder="Unit"
                      [scrollHeight]="'120px'"
                      optionValue="value"></p-dropdown>
        </div>
      </div>
      <div class="flex justify-end gap-4 pb-8">
        <p-button label="Cancel" icon="pi pi-times" (click)="displayEditItemDialog = false"
                  severity="secondary"></p-button>
        <p-button label="Save" icon="pi pi-check" (click)="editItem()"></p-button>
      </div>
    </form>
  </div>

</p-dialog>
