<div class="tw-pt-4 tw-flex tw-items-center tw-justify-between">
  <h1>{{ shoppingListDetailDto.name }}</h1>
  <div class="tw-flex tw-gap-4 tw-items-center">
    <div>
      <a class="btn btn-secondary" [routerLink]="['edit']">
        <i class="bi bi-pencil"></i>
        Edit
      </a>
    </div>
    <div>
      <button class="btn btn-danger" (click)="deleteShoppingList()">
        <i class="bi bi-trash"></i>
        Delete
      </button>
    </div>
  </div>
</div>
<div class="tw-flex tw-gap-2 tw-items-center" *ngIf="shoppingListDetailDto.categories.length > 0">
  <h3 class="tw-pr-2">Categories</h3>
  <div class="tw-bg-amber-100 tw-px-2 tw-py-1 tw-rounded-lg tw-outline-1 tw-outline tw-outline-amber-400" *ngFor="let category of shoppingListDetailDto.categories">
    <div class="">
      {{category}}
    </div>
  </div>
</div>
<div class="tw-pt-4">
  <div class="tw-flex tw-items-center tw-justify-between">
    <h2>Items</h2>
    <a class="btn btn-primary" [routerLink]="['shoppingList', shoppingListDetailDto.id, 'item', 'create']">
      <i class="bi bi-plus-lg"></i>
      Add Item
    </a>
  </div>
  <div class="tw-h-96 tw-overflow-y-auto tw-scroll-auto">
    <div *ngFor="let shoppingListItem of shoppingListDetailDto.items" class="">
      <div
        class="tw-p-2 tw-m-2 tw-rounded-md tw-outline tw-outline-1 tw-outline-slate-300 tw-flex tw-justify-between tw-items-center tw-hover:bg-slate-100 tw-hover:cursor-pointer">
        <div>{{ shoppingListItem.item.description }}</div>
        <div>{{ shoppingListItem.item.amount }} {{ shoppingListItem.item.unit }}</div>
      </div>
    </div>
  </div>
</div>
