<div id="app-shopping-list-add-dialog-title" class="modal fade" data-bs-keyboard="false"
     role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add to shopping list</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="reset()"></button>
      </div>
      <div class="modal-body">
        <div class="mt-2" *ngIf="shoppingLists !== null && shoppingLists !== undefined">
          <div class="row">
            <div class="col-2">
              Add
            </div>
          </div>
          <div class="row pt-3" *ngIf="item">
            <div class="col-2">
              <input type="text" class="form-control" [value]="displayQuantity(item.unit, item.lowerLimit - item.amount)[1]" disabled>
            </div>
            <div class="col-2">
              <input type="text" class="form-control" [value]="displayQuantity(item.unit, item.lowerLimit - item.amount)[0]" disabled>
            </div>
            <div class="col">
              <input type="text" class="form-control" [value]="item.description" disabled>
            </div>
          </div>
          <div class="row pt-3">
            <div class="col-2">
              to
            </div>
          </div>
            <select name="selectedList" class="form-select mt-3" [(ngModel)]="selectedList">
              <option [ngValue]="shoppingList" *ngFor="let shoppingList of shoppingLists">{{shoppingList.name}}</option>
            </select>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-info"
                (click)="addToShoppingList()"
                data-bs-dismiss="modal">Add to shopping list
        </button>
      </div>
    </div>
  </div>
</div>
