<h1>Popular Recipes</h1>

<div class="d-flex flex-row w-auto">
  <span style="flex: 1"></span>
</div>

<div class="mt-2">
  <input type="text" id="searchDescription" name="searchDescription"
         class="form-control col-9"
         placeholder="Search for an item"
         [(ngModel)]="searchString"
         (ngModelChange)="searchChanged()"
  >
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Name</th>
      <th class="min-width">Like/Dislike</th>
      <th class="min-width">View Details</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let recipe of recipes" class="center-td">
      <td>{{recipe.name}}</td>
      <td>


        <div class="btn-group">
          <a class="btn btn-sm responsive-info-button "
             aria-label="Show recipe details">

              <button
                (click)="like(recipe.id)"
                [disabled]="recipe.likedByUser === true"
                [ngClass]="{'disliked': recipe.likedByUser}">+</button>
          </a>
              <span>{{ getScore(recipe) }}</span>

              <button (click)="dislike(recipe.id)"
                      [disabled]="recipe.dislikedByUser === true"
                      [ngClass]="{'disliked': recipe.dislikedByUser}"
                      >-</button>




        </div>
      </td>
      <td>
        <div class="btn-group">
        <a class="btn btn-sm responsive-info-button "
           [routerLink]="['/recipe', 'viewer', recipe.id]"
           aria-label="Show recipe details">
          <i class="bi bi-info"></i>
        </a>
      </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>





