<p-confirmDialog [style]="{ width: '450px' }"/>
<p-dialog
  [(visible)]="newItemDialog"
  [style]="{ width: '600px', minHeight: '420px'}"
  header="Add a new Ingredient"
  [modal]="true"
  styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="field">
      <label for="newIngredientName">Name</label>
      <input
        type="text"
        minlength="2"
        pInputText
        id="newIngredientName"
        [(ngModel)]="newIngredient.description"
        required
        autofocus/>
    </div>
     <!-- TODO <small class="p-error" *ngIf="form.controls['newIngredientName'].errors?.minlength"> Name too short</small> -->
    <div class="field">
      <label for="unit">Unit</label>
      <p-dropdown
        [(ngModel)]="newIngredient.unit"
        id="unit"
        [options]="Object.values(Unit)">
      </p-dropdown>
    </div>
    <div class="field">
      <label for="amount">Amount</label>
      <p-inputNumber
        id="amount"
        [(ngModel)]="newIngredient.amount"
        [min]="0"
        [max]="1000000"
        required/>
      <small class="p-error" *ngIf="submitted && !newIngredient.amount">
        Amount is required.
      </small>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <p-button
      pRipple
      label="Cancel"
      severity="danger"
      icon="pi pi-times"
      [text]="true"
      (click)="hideDialog()"/>
    <p-button
      pRipple
      severity="info"
      label="Save"
      icon="pi pi-check"
      [text]="true"
      (click)="onIngredientSubmit()"
    />
  </ng-template>
</p-dialog>

<form #form="ngForm" (ngSubmit)="onRecipeSubmit(form)" [class.was-validated]="form.submitted">
  <div class="bg-blue-100 p-4">

    <!-- Header part with diagram -->
    <div class="flex justify-between items-start">

      <!-- Left Side -->
      <div class="flex-1 p-4 max-w-3xl">

        Picture here



      </div>

      <!-- Right Side -->
      <div class="flex-none ml-8 w-1/3">
        <h1 class="title"> Create the perfect Recipe! </h1>
        <div class="mb-4" >



            <input pInputText id="recipename" [(ngModel)]="recipe.name" name="recipeName"
                   required minlength="2" maxlength="60" placeholder="Name of your Recipe"/>
          <div class="flex">
          <small class="p-error" *ngIf="submitted && !recipe.name">
            Name is missing.
          </small>
          <small class="p-error" *ngIf="form.controls['recipeName'].errors?.minlength">Recipe name is too short.</small>
          </div>

          <div class="upper">

      <p-inputNumber
          inputId="integeronly"
          [(ngModel)]="recipe.portionSize"
          [min]="1"
          [max]="1000"
          required
      placeholder="Portion Size"/>
  <small class="p-error" *ngIf="submitted && !recipe.portionSize">
    Portion Size is missing.
  </small>


</div>

          <div class="upper flex" >

            Should this recipe be public? <p-inputSwitch [(ngModel)]="recipe.isPublic" trueValue=true falseValue=false />
          </div>






        </div>

      </div>


    </div>
  </div>
  <div class="mb-4 input-fields">
    <label for="recipeDescription" class="col-form-label text-md-end text-muted col-md-1 col-lg-0">

    </label>
    <div class="col-md-11 col-lg-10 input-area">
      <label for="recipeDescription">Recipe description</label>
              <textarea
                id="recipeDescription"
                pInputTextarea
                [autoResize]="true"
                rows="8" cols="100"
                name="recipeDescription"

                class="form-control"
                [(ngModel)]="recipe.description"
                #recipeDescriptionModel="ngModel"
                required minlength="2"
                (keydown.enter)="handleEnter($event)"
              ></textarea>
      <div class="flex">
      <small class="p-error" *ngIf="submitted && !recipe.description"> Description is missing </small>
      <small class="p-error" *ngIf="form.controls['recipeDescription'].errors?.minlength">Recipe name must be at least 2 characters long.</small>
      </div>
    </div>

  </div>
  <!-- submit -->
  <div class="submit flex">
    <p-button severity="info" [disabled]="(!form.valid || recipe.ingredients.length <= 1)" (click)="onRecipeSubmit(form)">Save</p-button>
  </div>
</form>

<div class="flex flex-col items-center p-4">
  <div class="container mx-auto px-12 py-4 bg-blue-50 rounded text-center">
    <div class="container mx-auto p-4">
      <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
          <p-button
            pRipple
            severity="success"
            label="New"
            icon="pi pi-plus"
            class="mr-2"
            (click)="openNew()"/>
        </ng-template>

      </p-toolbar>

      <p-table
        #dt
        [rows]="10"
        [value]="recipe.ingredients"
        [paginator]="true"
        [globalFilterFields]="['description', 'amount', 'min']"
        [(selection)]="selectedItems"
        [tableStyle]="{ 'min-width': '75rem' }"
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} items"
        [showCurrentPageReport]="true"
      >
        <ng-template pTemplate="caption">
          <div class="flex align-items-center justify-between">
            <h5 class="m-0">Ingredients</h5>

          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 4rem">

            </th>
            <th pSortableColumn="description" style="min-width:10rem">
              Name
              <p-sortIcon field="description"/>
            </th>
            <th pSortableColumn="amount" style="min-width:8rem">
              Amount
              <p-sortIcon field="amount"/>
            </th>
            <th></th>
            <th>Actions</th>

          </tr>
        </ng-template>


        <ng-template pTemplate="body" let-item let-i="rowIndex">
          <tr>
            <td>

            </td>
            <td>
              {{ item.description }}
            </td>
            <td>
              <p-button
                icon="pi pi-minus"
                severity="danger"
                [disabled]="item.amount === 0"
                (click)="decrement(i)"
              ></p-button>
              <p-inputNumber
                readonly="true"
                [(ngModel)]="item.amount"
                [step]="getRecipeStepSize(item)"
                [suffix]="getRecipeSuffix(item)"
                [min]="0"
                [max]="1000000"
                locale="en-US"
                [buttonLayout]=""/>
              <p-button
                icon="pi pi-plus"
                severity="success"
                [disabled]="item.amount === 1000000"
                (click)="increment(i)"

              ></p-button>
            </td>
            <td>

            </td>
            <td>
              <p-button
                pRipple
                icon="pi pi-trash"
                severity="danger"
                [rounded]="true"
                [outlined]="true"
                (click)="deleteSelectedItems(i)"/>
            </td>
          </tr>
        </ng-template>
      </p-table>

    </div>
  </div>
</div>


  <!-- <div class="recipe-description  p-6 pt-8 pb-8 rounded-lg shadow-md flex justify-between items-left" [innerHTML]="formattedDescription">{{recipe.description}}  </div> -->
  <!-- Ingredients -->
 <!-- <div class="p-4 max-w-2xl text-left">
    <ng-container *ngFor="let ingredient of recipe.ingredients; let i = index">
      <div [class.bg-blue-50]="i % 2 === 0" [class.bg-white]="i % 2 === 1" class="rounded p-2" class="rounded p-2 flex justify-between items-center">
        <span class="font-bold">{{ ingredient.description }}</span>
        <span class="font-bold">{{ unitDisplayer(ingredient.unit, ingredient.amount) }}</span>
      </div>
    </ng-container>
  </div>

<h1 class="display-1">Create new Recipe</h1>
<form #form="ngForm" [class.was-validated]="form.submitted" (ngSubmit)="onRecipeSubmit(form)">
  <br>

  <div class="row"> -->
    <!-- Start name -->
   <!-- <div class="mb-4 12">
      --><!-- When nesting rows, always make row > col-* > row. The Bootstrap classes do not work right when an element is both col* and row -->
     <!-- <div class="row">
        <label for="recipeName" class="col-form-label text-md-end text-muted col-md-1 col-lg-0">
          Name
        </label>
        <div class="col-md-4 col-lg-3">
          <input type="text"
                 id="recipeName"
                 name="recipeName"
                 placeholder="Recipe name"
                 class="form-control"
                 [class]="dynamicCssClassesForInput(recipeNameModel)"
                 [(ngModel)]="recipe.name"
                 #recipeNameModel="ngModel"
                 required minlength="2"

          >
          <div class="invalid-feedback">
          -->  <!-- This is shown, when the form validation deems the name input to be invalid -->
           <!-- Name is required
          </div>
        </div>

        <label for="isPublic" class="col-form-label text-md-end text-muted col-md-1 col-lg-1">
          Public
        </label>
        <div class="col-md-4 col-lg-3">
          <select id="isPublic"
                  name="isPublic"
                  class="form-select"
                  [(ngModel)]="recipe.isPublic"
                  #isPublicModel="ngModel"
                  required
          >
            <option [value]="true">Yes</option>
            <option [value]="false">No</option>
          </select>
        </div>
        <label for="newPortionSize" class="col-form-label text-md-end text-muted col-md-1 col-lg-1">
          Portion Size
        </label>
        <div class="col-2">
          <input name="newPortionSize" type="number" class="form-control" id="newPortionSize" placeholder="1"
                 [(ngModel)]="recipe.portionSize" required min="1">
        </div>

      </div>
      <br>
      <div class="row">
        <label for="recipeDescription" class="col-form-label text-md-end text-muted col-md-1 col-lg-0">
          Description
        </label>
        <div class="col-md-11 col-lg-10">
          <textarea
            id="recipeDescription"
            name="recipeName"
            placeholder="Recipe description"
            class="form-control"
            [class]="dynamicCssClassesForInput(recipeDescriptionModel)"
            [(ngModel)]="recipe.description"
            #recipeDescriptionModel="ngModel"
            required minlength="2"
            rows="4"
          > </textarea>
          <div class="invalid-feedback"> -->
            <!-- This is shown, when the form validation deems the description input to be invalid -->
           <!-- Description is required
          </div>
        </div>
      </div>
    </div>

    <br>
    <br>
    <br>

<div class="mt-4 d-flex flex-row">
<span class="flex-grow-1"></span>
<button type="submit"
    class="btn btn-primary"
    [disabled]="(!form.valid || recipe.ingredients.length === 0)"
    type="submit"
>
Create
</button>
</div>
</div>
</form>
<h2>Ingredients</h2> -->
<!-- Begin Ingredient selection block -->
<!--<div class="mt-3">
  <form #form="ngForm" class="row pt-3" (ngSubmit)="onIngredientSubmit(form)">
    <div class="col-3 align-content-center">
      <button name="submit" type="submit" class="btn btn-info m-2">
        <i class="bi bi-plus-lg"></i>
      </button>
    </div>
    <div class="col-2">
      <input name="newItemAmount" type="number" class="form-control" id="newItemAmount" placeholder="0"
             [(ngModel)]="newIngredient.amount" required min="0">
    </div>
    <div class="col-2">
      <select name="newItemUnit" class="form-select" [(ngModel)]="newIngredient.unit" required>
        <option *ngFor="let unit of Unit | keyvalue" [value]="unit.key"
                [selected]="newIngredient.unit===unit.key">{{ unit.value }}</option>
      </select>
    </div>
    <div class="col">
      <input name="newItemDescription" class="form-control" placeholder="Add a new ingredient"
             [(ngModel)]="newIngredient.description" required minlength="2">
    </div>
  </form>
  <table class="table table-hover">
    <thead>
    <tr>
      <th class="col-3"></th>
      <th class="col-2">Amount</th>
      <th class="col-2">Unit</th>
      <th>Item</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let ingredient of recipe.ingredients; let i=index" class="center-td">
      <td class="row">
        <div class="col align-content-center">
          <a class="btn responsive-danger-button m-1"
             (click)="selectIndexToDelete(i)"
             data-bs-toggle="modal"
             data-bs-target="#confirm-delete-dialog-title"
             aria-label="Delete item">
            <i class="bi bi-trash"></i>


          </a>
          <a class="btn responsive-warning-button m-1"
             (click)="selectIndexToEdit(i); selectEditItem(clone(ingredient))"
             data-bs-toggle="modal"
             data-bs-target="#edit-pantry-item-dialog-title"
             aria-label="Edit item">
            <i class="bi bi-pencil"></i>
          </a>
        </div>
        <div class="col-8 align-content-center">
          <div class="row">
         -->   <!--small-->
           <!--  <a class="btn btn-sm responsive-success-button col m-1"
               [text]="getUnitStepString(getUnitStep(ingredient.unit, false, true))"
               (click)="changeAmount(ingredient, getUnitStep(ingredient.unit, false, true))"></a>
            --><!--large-->
      <!--      <a class="btn btn-sm responsive-success-button col m-1"
               [text]="getUnitStepString(getUnitStep(ingredient.unit, true, true))"
               (click)="changeAmount(ingredient, getUnitStep(ingredient.unit, true, true))"></a>
          </div>
          <div class="row">
            -->  <!--small-->
          <!--  <a class="btn btn-sm responsive-danger-button col m-1"
               [text]="getUnitStepString(getUnitStep(ingredient.unit, false, false))"
               (click)="changeAmount(ingredient, getUnitStep(ingredient.unit, false, false))"></a>
           --> <!--large-->
          <!--  <a class="btn btn-sm responsive-danger-button col m-1"
               [text]="getUnitStepString(getUnitStep(ingredient.unit, true, false))"
               (click)="changeAmount(ingredient, getUnitStep(ingredient.unit, true, false))"></a>
          </div>
        </div>
      </td>
      <td>
        {{formatAmount(ingredient.amount)}}
      </td>
      <td>
        {{ingredient.unit.valueOf()}}
      </td>
      <td>
        {{ingredient.description}}
      </td>
    </tr>
    </tbody>
  </table>
</div>

<app-confirm-delete-dialog [deleteWhat]="deleteWhatString"
                           (confirm)="removeIngredient(selectedIndexToDelete)"></app-confirm-delete-dialog>-->
<!-- <app-edit-pantry-item-dialog [itemToEdit]="itemToEdit" [pantryId]=""
                             (confirm)="editItem(); searchChanged()"></app-edit-pantry-item-dialog>-->
