<div class="flex flex-col items-center justify-center p-4">
  <p-carousel [value]="charts" [numVisible]="1" [numScroll]="1" [circular]="true" class="w-3/4">
    <ng-template let-chart pTemplate="item">
      <div class="flex flex-col items-center justify-center" style="width: 1200px; height: 900px;">
        <p-chart [type]="chart.type" [data]="chart.data" [options]="chart.options" width="1200px" height="600px"></p-chart>
        <p class="mt-2" [innerHTML]="chart.description"></p>
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <div class="pl-12">
        <p-button label="Back to Group" (click)="backToGroup()"></p-button>
      </div>
    </ng-template>
  </p-carousel>
</div>
