<div class="flex flex-col items-center justify-center p-4">

  <div *ngIf="group" class="w-full font-medium text-2xl pl-8 pt-4 ">
    {{ group.groupName }}
  </div>

  <div *ngIf="!this.minimumExpensesSatisfied" class="w-full min-h-96 flex justify-center items-center">
    <p class="text-xl">You need at least 5 expenses in the group to show charts</p>
  </div>

  <div *ngIf="charts.length < 5 && this.minimumExpensesSatisfied" class="w-full min-h-96 flex justify-center items-center">
    <p-progressSpinner [style]="{'width': '60px'}"></p-progressSpinner>
  </div>


  <p-carousel *ngIf="charts.length > 3 && this.minimumExpensesSatisfied" [value]="charts" [numVisible]="1" [numScroll]="1" [circular]="true"
              class="w-3/4">
    <ng-template let-chart pTemplate="item">
      <div class="flex flex-col items-center" style="width: 100%; height: 700px;">
        <p class="m-6 text-4xl font-bold" [innerHTML]="chart.title"></p>
        <label for="dataRange">Select dates</label>
        <p-calendar
          id="dataRange"
          [(ngModel)]="rangeDates"
          selectionMode="range"
          [readonlyInput]="true"
          [minDate]="minDate"
          [maxDate]="today"
          [numberOfMonths]="2"
          (ngModelChange)="getExpenses(rangeDates)"/>
        <p-chart [type]="chart.type" [data]="chart.data" [options]="chart.options" width="1200px"
                 height="500px"></p-chart>
        <p class="mt-2" [innerHTML]="chart.description"></p>
      </div>
    </ng-template>
  </p-carousel>


  <div>
    <p-button label="Back to Group" (click)="backToGroup()"></p-button>
  </div>
</div>
