<div class="flex justify-between items-center">
  <h2 class="pt-2">Expense List</h2>
  <div class="d-flex flex-row w-auto">
    <span style="flex: 1"></span>
    <a class="btn btn-secondary" [routerLink]="['/expenses', groupId]" aria-label="New Expense">
      <i class="bi bi-plus-lg"></i>
      New Expense
    </a>
  </div>
</div>

<div class="h-96 overflow-y-auto overflow-x-hidden">
  <div *ngFor="let activity of expenseList"
  class="">
    <a [routerLink]="['/expenses', 'info', activity.expenseId]"
    class="no-underline text-black">
    <div class="p-2 m-2 rounded-md outline outline-1 outline-slate-300
    flex justify-between items-center
    hover:bg-slate-100 hover:cursor-pointer">
      <div>{{activity.description}}</div>
    </div>
    </a>
  </div>
</div>